<div id="ddb-branch-index" class="main-view">
  <div class="no-record" ng-if="branches.length == 0">
      没有门店
    </div>

  <div class="branch-item-table" ng-if="branch_index_layout == 'block'">
    <div  class="branch-item-tr" ng-repeat="n in getArray(branches.length/3)">
       <a ng-href="#/branches/{{branch.id}}" class="branch-item block" style="height:100%;" ng-repeat="branch in branches.slice($index*3, $index*3+3)">

        <div class="branch">
          <div class="img" style="background-image:url('{{branch.image}}'); background-size: cover;">
            <div class="cover">
              <div class="label" ng-show="branch.is_in_service">
                <div class="tag bg-green" ng-if="branch.use_reservation_setting">订</div>
                <div class="tag bg-blue" ng-if="branch.use_delivery_setting">送</div>
              </div>
              <div class="rest" ng-show="!branch.is_in_service">
                <img ng-src="{{img_url('/images/ddt/rest.png')}}" title="休息中" width="100%"/>
              </div>
              <div class="branch_name">{{branch.name}}</div>
            </div>
          </div>
        </div>

      </a>
    </div>
  </div>
  <div class="branch-item" ng-repeat="branch in branches" ng-class="{'closed': !branch.is_in_service}" ng-if="branch_index_layout == 'list'">
    <a ng-href="#/branches/{{branch.id}}">
      <div class="branch-info">
        <div class="branch-image">
          <img ng-src="{{branch.image}}">
        </div>
        <div class="branch-detail-info">
          <div class="first-line overflow-ellipsis">
            <div class="name">
              {{branch.name}}
            </div>
            <div class="tag bg-green" ng-if="branch.use_reservation_setting">
              订
            </div>
            <div class="tag bg-blue" ng-if="branch.use_delivery_setting">
              送
            </div>
            <div class="tag bg-red" ng-if="!branch.is_in_service">
              休息中
            </div>
          </div>
          <div class="second-line">
            <div class="comment-level red">
              <rating-stars ng-rating="branch.rating">
              </rating-stars>
            </div>
            <div class="average-consume"> 人均：{{(branch.average_consumption|currency:currency)||'暂无'}}</div>
          </div>
          <div class="third-line">
            <div class="distance"> {{branch.distance | distance }}</div>
            <div class="address">{{branch.address}}</div>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </a>
    <div>
      <div class="tuans" ng-if="branch.tuans.length > 0">
        <a class="tuan overflow-ellipsis" ng-repeat="tuan in branch.tuans"  ng-click="go_page('cart', '/tuans/'+tuan.id)">
          <span class="circle bg-orange" ng-if="tuan.type == 'Ddt::GrouponVersion'">团</span>
          <span class="circle bg-blue" ng-if="tuan.type == 'Ddt::VoucherVersion'">代</span>
          {{tuan.name}}
        </a>
      </div>
      <div class="promotions" ng-if="branch.promotions.length > 0">
        <a class="promotion" ng-repeat="promotion in branch.promotions" ng-href="#/promotions/{{promotion.id}}">
          <span class="circle bg-red" ng-if="promotion.type == 'Ddt::EventPromotion'">免</span>
          <span class="circle bg-green" ng-if="promotion.type == 'Ddt::OrderPromotion'">满</span>
          {{promotion.name}}
        </a>
      </div>
    </div>
  </div>
</div>
