<div common-footer></div>
<div id="search-word-page" class="main-view">
  <div class="weui_search_bar" ng-class="{'weui_search_focusing': weui_search_focusing}" id="search_bar">
      <form class="weui_search_outer">
          <div class="weui_search_inner">
              <!-- <i class="weui_icon_search"></i> -->
              <i class="fa fa-microphone green voice-input" ng-click="startRecord()" ng-if="!is_recording"></i>
              <i class="fa fa-microphone-slash red voice-input" ng-click="stopRecord()" ng-if="is_recording"></i>
              <input type="search" class="weui_search_input" id="search_input" 
                placeholder="搜索门店名称" ng-model="word" required="" 
                ng-focus="weui_search_focusing = true">
              <a ng-click="update();weui_search_focusing =false;" class="weui_icon_clear" id="search_clear"></a>
          </div>
          <label for="search_input" class="weui_search_text" id="search_text" ng-show="!!word">
              <i class="weui_icon_search"></i>
              <span>搜索门店名称</span>
          </label>
      </form>
      <a ng-click="update();weui_search_focusing =false;" class="weui_search_cancel" id="search_cancel">取消</a>
  </div>

  <div class="keywords-section">
    <div class="keyword-group" ng-repeat="search_word_group in search_word_groups">
      <div class="keyword" ng-repeat="search_word in search_word_group" 
              ng-class="{'label-green': $index%5==0, 'label-red': $index%5==1, 'label-orange': $index%5==2, 'label-blue': $index%5==3, 'label-pink': $index%5==4}"
              ng-click="update(search_word)">
        {{search_word.length > 0 ? search_word : ''}}
      </div>
    </div>
  </div>

  <div class="weui_cells weui_cells_access search_show" id="search_show" ng-if="is_recording||word">
    <div class="weui_cell" ng-if="is_recording">
        <div class="weui_cell_bd weui_cell_primary">
            <p>正在录音，点击<strong ng-click="stopRecord()" class="red"> 结束 </strong>录音 ...</p>
        </div>
    </div>
    <div class="weui_cell" ng-if="branch_results.length == 0 && word">
      <p>没有满足条件的门店</p>
    </div>
    <div class="weui_cell" ng-repeat="branch in branch_results" ng-click="go('#/branches/'+branch.id)">
        <div class="weui_cell_bd weui_cell_primary">
          <p>
            {{branch.name}}
          </p>
        </div>
        <div class="weui_cell_ft">
          {{branch.distance | distance }}
        </div>
    </div>
  </div>

</div>