<div id="new-order-checkout-page" class="order-checkout-page">
    <div id='new-order-form' class="main-view">
        <a class="location-section" ng-click="change_address()">
            <div class="icon"><i class="fa fa-map-marker"></i></div>
            <div class="location">
                <div class="personal-info">
                    <span class="name">收货人：{{current_address.name}}</span><span class="tel right">{{current_address.phone}}</span>
                </div>
                <div class="address">收货地址：{{current_address.content}}</div>
            </div>
        </a>

        <div class="weui_cells" ng-if="(delivery_zones.length > 0) || (delivery_dates.length > 1) || (delivery_times.length > 0)">
            <div class="weui_cell weui_cell_select weui_select_after" ng-if="can_select_delivery_zone()">
                <div class="weui_cell_hd">
                    配送区域
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <select class="weui_select" ng-model="self.current_delivery_zone" ng-options="zone.zone_name for zone in delivery_zones"
                        ng-change="change_delivery_zone()">
                        <option value="选择配送区域" disabled></option>
                    </select>
                </div>
            </div>
            <div class="weui_cell weui_cell_select weui_select_after" ng-if="delivery_dates.length > 1">
                <div class="weui_cell_hd">
                    配送日期
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <select class="weui_select" ng-model="self.current_delivery_date" ng-options="date.display for date in delivery_dates"
                        ng-change="change_delivery_date()">
                        <option value="选择配送日期" disabled></option>
                    </select>
                </div>
            </div>
            <div class="weui_cell weui_cell_select weui_select_after" ng-if="delivery_times.length > 0">
                <div class="weui_cell_hd">
                    配送时间
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <select class="weui_select" ng-model="self.current_delivery_time" ng-options="time.display for time in delivery_times"
                        ng-change="change_delivery_time()">
                        <option value="选择配送时间" disabled></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="weui_cells weui_cells_form" ng-if="coupons.length > 0">
          <div class="weui_cell weui_cell_switch" ng-if="coupons.length > 0">
              <div class="weui_cell_hd">
                  是否使用优惠券
              </div>
              <div class="weui_cell_primary weui_cell_ft">
                  <input class="weui_switch" type="checkbox" ng-model="self.use_coupon" ng-change="use_coupon && load_coupons();">
              </div>
          </div>
          <div class="weui_cell weui_cell_select weui_select_after" ng-if="use_coupon && coupons_loaded && coupons.length > 0">
              <div class="weui_cell_hd">
                  可用优惠券
              </div>
              <div class="weui_cell_bd weui_cell_primary">
                  <select class="weui_select" ng-model="self.current_coupon" ng-options="get_coupon_label(coupon) for coupon in coupons"
                      ng-change="apply_coupon()" required="false">
                      <option value="" disabled selected> 选择优惠券</option>
                  </select>
              </div>
          </div>
        </div>

        <div ng-include src="partial('cart/orders/cart-adjustments')"></div>
        <div ng-include src="partial('cart/orders/new-common-form')"></div>
        <div class="recharge-actions">
          <div class="weui_btn" ng-class="{'bg-red': errors().length == 0, 'weui_btn_disabled': errors().length >0}" ng-click="submit()">
             立即下单 {{cart.total|currency:shop.currency}}
          </div>
        </div>
    </div>
    <div ng-confirm-dialog ng-title="缺少定位信息" ng-confirm="location()" ng-cancel="change_address()" ng-show="need_location" ng-confirm-text="进行定位" ng-cancel-text="切换地址">
      <p></p>
      <p>当前的收货地址缺乏定位信息，该信息是确定是否在服务范围内的重要凭证。</p>
    </div>
</div>
