.append-actions, .delete-actions{
  width: 100%;
  position: relative;
  height: 50px;
  .append-actions-wrapper, .delete-actions-wrapper{
    position: absolute;
    width: 600px;
    overflow: hidden;
    top: 0;
    left: 0;
  }
}
