<!-- wifi用户提示选择桌台和人数 -->

<div class="weui_panel">
  <div class="weui_panel_hd">请选择用餐人数</div>
  <div class="weui_panel_bd">
    <div class="weui_media_box weui_media_text">
      <span ng-click="change_guest_num(guest_num)" ng-repeat="guest_num in guest_nums" class="button" ng-class="{'bg-red': active_guest_num == guest_num, 'dark-gray': active_guest_num != guest_num}">
        {{::guest_num}}
      </span>        
    </div>
  </div>
</div>

<div class="weui_panel">
  <div class="weui_panel_hd">请选择用餐桌台</div>
  <div class="weui_panel_bd">
    <div class="weui_media_box weui_media_text">
      <span ng-click="change_select_table(table)" ng-repeat="table in tables" class="button" ng-class="{'bg-red': active_select_table == table, 'dark-gray': active_select_table != table}">
        {{::table.name}}
      </span>        
    </div>
  </div>
</div>

<div class="weui_opr_area padding">
  <p class="weui_btn_area">
    <div class="weui_btn weui_btn_primary" ng-class="{'disable': !can_submit()}" ng-click="submit()">确认</div>
  </p>
</div>