#ddb-branch-index {
  background-color: white;
  color: $gray-light;
  .closed {
    opacity: 0.4;
  }
  .branch-item {
    padding-left: 8px;
    border-bottom: 1px solid $gray-lightest;
    background-color: white;
    .branch-info {
      display: block;
      padding: 10px 8px 6px 70px;
    }
    .branch-image {
      float: left;
      margin-left: -70px;
      width: 70px;
      img {
        width: 100%;
        border: 1px solid $gray-lightest;
        border-radius: 2px;
      }
    }
    .branch-detail-info {
      padding-left: 8px;
      vertical-align: top;
      .first-line, .second-line, .third-line {
        width: 100%;
      }
      .first-line {
        height: 24px;
        line-height: 20px;
        padding-bottom: 4px;
        > div {
          display: inline-block;
          vertical-align: middle;
        }
        .tag {
          line-height: 14px;
        }
        .name {
          font-size: 16px;
          color: $gray-dark;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .second-line {
        height: 24px;
        font-size: 12px;
        line-height: 24px;
        > div {
          display: inline-block;
        }
      }
      .third-line {
        font-size: 12px;
        direction: rtl;
        display: table;
        > div {
          display: table-cell;
        }
        .distance{
          width: 60px;
          min-width: 60px;
        }
        .address {
          width:100%;
          text-align: left;
        }
      }
    }
    .branch-promotions{
      padding-left: 5px;
      .detail-switch{
        font-size: 14px;
      }
    }
  }
}
#ddb-delivery-branch-index {
  color: $gray-light;
  background-color: white;
  .closed {
    opacity: 0.4;
  }
  .branch-item {
    padding-left: 8px;
    border-bottom: 1px solid $gray-lightest;
    background-color: white;
    .branch-info {
      display: block;
      padding: 10px 8px 6px 70px;
      border-bottom: 1px dotted $gray-lightest;
    }
    .branch-image {
      float: left;
      margin-left: -70px;
      width: 70px;
      min-width: 70px;
      img {
        width: 100%;
        border: 1px solid $gray-lightest;
        border-radius: 2px;
      }
    }
    .delivery-info {
      padding-left: 8px;
      vertical-align: top;
      .first-line, .second-line, .third-line {
        width: 100%;
      }
      .first-line {
        height: 24px;
        line-height: 20px;
        padding-bottom: 4px;
        > div {
          display: inline-block;
          vertical-align: middle;
        }
        .name {
          font-size: 16px;
          color: $gray-dark;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .tag {
          font-size: 12px;
          line-height: 14px;
          border-radius: 1px;
          padding: 1px 2px;
        }
        .sales {
          font-size: 12px;
          width: 80px;
          float: right;
          text-align: right;
        }
      }
      .second-line {
        height: 14px;
        font-size: 12px;
        line-height: 14px;
        > div {
          display: inline-block;
        }
      }
      .third-line {
        font-size: 12px;
      }
    }
  }

  .top-sales {
    padding: 6px 8px 6px 0;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

#ddb-delivery-branch-index, #ddb-branch-index {
  .branch-item-table {
    display:  table;
    width: 100%;
    .tags {
      float: left;
      margin-left: -5px;
    }
  }
  .branch-item-tr {
    display: table-row;
  }
  .tag {
    font-size: 12px;
    border-radius: 1px;
    padding: 2px 2px;
  }
  .circle{
    font-size: 12px;
    border-radius: 1000px;
    padding: 2px 2px;
    width: 20px;
    height:20px;
    line-height:20px;
  }
  .tuans, .promotions {
    .tuan, .promotion{
      display: block;
      border-bottom: 1px dotted $gray-lightest;
      border-radius: 3px;
      font-size: 13px;
      padding: 4px;
      margin: 0 8px 0px 0;
    }
  }
  .branch-item.block {
    display: table-cell;
    margin: 10px 1%;
    width: 31.3%;
    text-align:center;
    padding: 5px;
    border-bottom: 0px;
    .branch-info {
      padding: 0;
    }
    .branch{
      width: 100%;
      height: 100px;
      border: solid 1px #ccc;
      padding: 5px;
      .img{
        width: 100%;
        height: 100%;
        .cover{
          width: 100%;
          height: 100%;
          position: relative;
          .label div{
            display: block;
            width: 18px;
            height: 21px;
            line-height: 21px;
            font-size: 11px;
            text-align: center;
            margin-right: 4px;
            margin-top: -2px;
            float: left;
          }
          .rest{
            width:50%;
            float: right;
          }
          .branch_name{
            width:100%;
            height: 20px;
            position: absolute;
            left: 0;
            bottom: 0;
            text-align: center;
            vertical-align: bottom;
            background: rgba(0, 0, 0, 0.6);
            @include transition(all .2s ease-in-out 0s);
            color: white;
            font-size: 13px;
          }
        }
      }
    }
  }
}

#ddb-branch-show {
  .subject {
    border-bottom: 1px solid $gray-lightest;
  }
  .tag {
    padding: 1px 2px;
    border-radius: 2px;
    font-size: 12px;
    line-height: 14px;
    height: 28px;
    vertical-align: middle;
  }
  .avatar-part {
    background-color: white;
    display: table;
    width: 100%;
    padding: 10px;
    .avatar, .branch-info {
      vertical-align: top;
      display: table-cell;
    }
    .avatar {
      width: 110px;
      max-width: 110px;
      max-height: 100px;
      overflow: hidden;
      padding-right: 10px;
      img {
        width: 100%;
      }
    }
    .name {
      font-size: 18px;
      line-height: 28px;
      color: $gray-dark;
      font-weight: bold;
    }
    .comments-level, .average-consume {
      font-size: 14px;
      line-height: 18px;
    }
    .facilities .facility {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .operation-navs {
    background-color: white;
    display: table;
    width: 100%;
    .operation-nav-item.inavailable {
      opacity: 0.4;
    }
    .operation-nav-item {
      display: table-cell;
      vertical-align: top;
      text-align: center;
      width: 1%;

      .icon {
        margin: auto;
        display: block;
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 25px;
        overflow: hidden;
        border: 5px solid #fcfcfc;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
        border-radius: 1000px;
        i {
          display: block;
          line-height: 40px;
        }
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .text {
        font-size: 14px;
        height: 40px;
        line-height: 30px;
        padding-bottom: 10px;
      }
    }
  }

  .branch-promotion-section {
    padding: 0 10px;
    background-color: white;
    border-top: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-lighter;
    .promotion {
      border-bottom: 1px solid $gray-lightest;
      display: block;
      width: 100%;
      height: 70px;
      padding: 10px 0;
      padding-left: 100px;
      .promotion-image {
        width: 100px;
        height: 50px;
        float: left;
        margin-left: -100px;
        max-height: 50px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .promotion-info {
        padding-left: 10px;
      }
      .name {
        height: 25px;
        line-height: 25px;
        font-size: 14px;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .desc {
        display: table;
        width: 100%;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        > div {
          display: table-cell;
        }
        .groupon-price {
          font-size: 16px;
          font-weight: bold;
        }
        .norminal-value {
          text-decoration: line-through;
        }
      }
    }
  }

  .intro-section {
    border-top: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-lighter;
    background-color: white;
    padding: 0 10px;
    color: $gray-dark;
    .location-label, .branch-item {
      padding: 10px 0;
      font-size: 14px;
      width: 100%;
      display: table;
      .icon {
        width: 50px;
        text-align: center;
      }
      > div{
        height: 100%;
        display: table-cell;
        vertical-align: middle;
      }
      .address {
        padding-right: 8px;
      }
      .phone a {
        color: $color-red;
      }
      .phone, .location-address{
        padding: 0 8px;
        font-size: 26px;
        width: 50px;
        border-left: 1px solid $gray-lightest;
        a {
          display: block;
        }
      }
      i {
        font-size: 22px;
        padding: 0 8px;
      }
    }
    .label {
      color: $gray;
    }
    .location-label, .branch-item {
      border-bottom: 1px solid $gray-lightest;
    }
    .branch-item:last-child {
      border: 0 ;
    }
  }
}

#ddb-branch-introduction {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 100%;
  img {
    max-width: 100% !important;
  }
}

.notification-section {
    background-color: white;
    padding: 0 10px;
    border-bottom: 1px solid $gray-lighter;
    .notice {
      border-top: 1px dotted $gray-lightest;
      padding: 8px 0;
      padding-left: 30px;
      line-height: 20px;
      i {
        display: block;
        float: left;
        margin-left: -30px;
        text-align: center;
        width: 30px;
      }
    }
  }
