.combos-page{
  height: 100%;
  .ddb-nav-footer{
    .checkout-button{
      height: 34px;
      border-radius: 1000px;
      background-color: #ef4437;
      border: 0;
      color: white;
      line-height: 24px;
      padding: 5px 15px;
      margin-right: 5px;
      &.disable{
        background-color: #dbdbdb;
      }
    }
  }
  .combos-page-body{
    height: 100%;
    width: 100%;
    background-color: white;
    .combos-list, .combo-items{
      display: inline-block;
      height: 100%;
      position: absolute;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      padding-bottom: 100px;
    }
    .combos-list{
      left: 0;
      width: 100px;
      background-color: $gray-lightest;
      text-align: center;
      .combos{
        .item{
          line-height: 20px;
          font-size: 14px;
          padding: 10px;
          position: relative;
          &.active {
            background-color: white;
            color: $color-red;
          }
        }
      }
    }
    .combo-items{
      left: 100px;
      right: 0;
      .combo-item{
        .combo-item-name{
          height: 40px;
          font-size: 16px;
          text-align: center;
          line-height: 32px;
          padding: 4px 0;
        }
        .combo-variants{
          .variant-item{
            padding: 8px 5px 8px 65px;
            border-bottom: 1px solid $gray-lightest;
            &.in-cart {
              border-bottom: 2px solid $color-red;
            }
            .loading-image, .loaded-image {
              width: 55px;
              height: 55px;
              margin-left: -60px;
              display: inline-block;
              float: left;
              background-size:cover;
              background-position:center center;
            }
            .no-image {
              margin-left: -60px;
            }
            .name {
              font-size: 14px;
              padding-bottom: 4px;
              font-weight: bold;
              color: $gray;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            .sales {
              font-size: 10px;
              line-height: 10px;
              color: $gray-light;
            }
            .price-section {
              height: 32px;
              line-height: 32px;
              overflow: hidden;
            }

            .button.plus-button, .button.minus-button {
              width: 32px;
              height: 32px;
              padding: 7px;
            }
            .original-price {
              color: $color-red;
              font-size: 14px;
              text-decoration: line-through;
            }

            .cart-op {
              float: right;
              display: inline-block;
            }

          }
        }
        border-bottom: 1px solid $gray-light;
      }
    }
  }
}
