.comments-section {
  border-top: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
  padding: 0 10px;
  background-color: white;
  .comment-item {
    border-bottom: 1px solid $gray-lightest;
    padding: 8px 0;
  }
  .comment-item:last-child {
    border-bottom: 0;
  }
  .comment-info {
    font-size: 14px !important;
    > div {
      display: inline-block;
    }
  }

  .comment-reply {
    margin-left: 10px;
    border-left: 2px solid $gray-lightest;
    padding-left: 6px;
  }
  .comment-level {
    margin-left: 10px;
  }
  .time {
    font-size: 12px;
  }

  .content {
    color: $gray-dark;
    font-size: 14px;
  }
}