#orders-nav-page {
  height: 100%;
  background-color: white;
  .order-nav-section  {
    display: table;
    width: 100%;
    .order-nav-row {
      height: 121px;
      display: table-row;
      .order-nav-item {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 1%;
        border-right: 1px solid $gray-lightest;
        border-bottom: 1px solid $gray-lightest;
        a {
          display:  block;
        }
        i {
          font-size: 30px;
          line-height: 70px;
        }
      }
      .order-nav-item:last-child {
        border-right: 0;
      }
    }
  }
}

#new-order-checkout-page {
  #new-order-form {
  }

  #new-reservation-order-form{
    .section{
      .list-item.branch-name{
        text-align: center;
        font-size: 16px;
      }
      .list-item{
        overflow: hidden;
        .table-zone{
          float: left;
          border-left: 2px solid #f70708;
          font-size: 16px;
          padding: 0 10px;
        }
        .reservation-time{
          float: left;
          color: #CF2121;
        }
        .genders{
          .button{
            margin-top: 0;
            margin-bottom: 0;
          }
        }
        .prepayment-type{
          overflow: hidden;
          width: 100%;
          color: $gray-light;
          background-color: $gray-lightest;
          margin: 5px 0;
          padding: 10px;
          .price{
            float: left;
            width: 150px;
          }
          .label{
            float: left;
          }
          .radio{
            position: relative;
            float: right;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid $gray-lighter;
          }
          &.active{
            background-color: #FDE4E4;
            .price{ color: #f70708; }
            .label{ color: $gray; }
            .radio{
              border-color: #f70708;
              &:before{
                content: '';
                position: absolute;
                border-radius: 50%;
                background-color: #f70708;
                width: 10px;
                height: 10px;
                top: 4px;
                left: 4px;
              }
            }
          }
        }
      }
    }
  }

  .location-section {
    background-color: #ee483c;
    height: 80px;
    color: white;
    display: block;
    padding-left: 40px;
    .icon {
      font-size: 28px;
      float: left;
      font-weight: bold;
      vertical-align: middle;
      text-align: center;
      width: 40px;
      margin-left: -40px;
      height: 80px;
      line-height: 80px;
    }
    .location {
      vertical-align: middle;
      padding: 10px;
      .personal-info {
        font-size: 15px;
        font-weight: bold;
        line-height: 34px;
      }
      .address {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  .cart-products {
    padding: 0 10px;
    .product-item {
      // height: 90px;
      padding: 10px 0 10px 80px;
      border-bottom: 1px solid $gray-lightest;
      img {
        width: 70px;
        margin-left: -80px;
        float: left;
      }
    }
    .cart-op {
      float: right;
    }
    .price {
      font-size: 16px;
      color: $gray;
    }
    .original-amount {
      font-size: 12px;
      text-decoration: line-through;
    }
    .price-section {
      // line-height: 35px;
    }
    .name {
      font-size: 15px;
      font-weight: bold;
      line-height: 35px;
      color: $gray;
    }
    .product-item:last-child {
      border-bottom: 0;
    }
  }
  .orders-common-footer {
    > div {
      display: inline-block;
      margin: 5px 0 5px 5px;
      vertical-align: middle;
    }
    .quantity-total {
      border: 1px solid $gray-lighter;
      border-radius: 1000px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      line-height: 32px;
      width: 34px;
      height: 34px;
    }
    .total-amount {
      font-size: 18px;
      font-weight: bold;
      color: #f70708;
    }

    .delivery-fee {
      font-size: 12px;
      color: $gray-light;
    }

    .checkout-button {
      background-color: #f70708;
      border-color: #f70708;
      padding: 5px 15px;
      color: white;
      border-radius: 1000px;
      margin-right: 5px;
    }
  }
}


.orders-index-secondary-nav {
  padding: 7px;
}

.ddb-secondary-nav-header {
  .filter-switch {
    margin: auto;
    height: 30px;
    display: table;
    border-radius: 5px;
    border: 1px solid $color-red;
    color: $color-red;
    width: 100%;
    line-height: 28px;
    .filter-tab:last-child {
      border: 0;
    }
    .filter-tab.active {
      background-color: $color-red;
      color: white;
    }
    .filter-tab {
      border-right: 1px solid $color-red;
      display: table-cell;
      width: 1%;
      text-align: center;
    }
  }
}

.orders-index-page {
  .time {
    font-size: 12px;
    color: $gray-light;
    text-align: center;
  }
  .order-item {
    margin-bottom: 12px;
  }
  .name {
    font-size: 16px;
    color: $gray;
    line-height: 28px;
  }
  a.list-item {
    display: block;
  }
  .total-amount {
    float: left;
    color: $color-red;
    font-size: 14px;
    font-weight: bold;
  }
  .operation {
    text-align: right;
    float:right;
    .button:last-child {
      margin-right: 0;
    }
    .button {
      margin: 0 4px 0 0;
      display: inline;
    }
    .active {
      color: $color-red;
      border-color: $color-red;
    }
  }
  .workflow-state {
    color: $gray-lighter;
  }

  .amount-label {
    font-size: 12px;
    color: $gray;
    font-weight: normal;
  }
}

#delivery-orders-index, #eat-in-hall-orders-index {
  .variants {
    font-size: 12px;
    color: $gray-light;
  }
}

#reservation-orders-index {
  .icon, .reservation-order-info {
    display: table-cell;
  }
  .icon {
    padding: 10px 10px 10px 0;
    width: 50px;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
  }
  .check-icon {
    font-size: 16px;
    background-color: #d3cac1;
    height: 30px;
    line-height: 30px;
    color: white;
  }

  .table-zone, .reservation-time-point {
    font-size: 12px;
    color: $gray-light;
  }
}

#eat-in-hall-orders-index {
  .workflow-state {
    font-size: 12px;
  }
}

.order-show {
  .juchi {
    height: 16px;
    background: url('/images/ddt/bg_juchi.png') repeat no-repeat;
  }
  .order-state-section {
    height: 70px;
    background-color: $gray-lightest;
    padding: 15px 0;
    .order-state {
      display: table-cell;
      width: 1%;
      &.active{
        i.fa {
          color: $color-red;
        }
        .line-through{
          border-bottom: 2px solid $color-red;
        }
      }
    }
    .order-state-header {
      line-height: 20px;
      width: 100%;
      display: table;
      vertical-align: middle;
      color: $gray-lighter;
    }
    .square {
      display: table-cell;
      width: 50%;
      vertical-align: middle;
      .line-through {
        border-bottom: 2px solid $gray-lighter;
      }
    }
    i {
      width: 20px;
      height: 20px;
      text-align: center;
      font-size: 15px;
    }

    .order-state-body {
      font-size: 12px;
      line-height: 20px;
      color: $gray;
      text-align: center;
    }
  }

  .time {
    font-size: 12px;
    color: $gray-light;
    text-align: center;
  }
  .order-item {
    font-size: 12px;
    color: $gray-light;
    line-height: 18px;
  }
  .list-item {
    display: table;
    width: 100%;
    .name, .quantity-info , .total-info{
      display: table-cell;
    }
    .name {
      width: 3%;
      font-size: 15px;
      color: $gray;
    }
    .quantity-info {
      text-align: center;
      width: 2%;
      color: $gray-light;
    }
    .exchange-code {
      font-weight: bold;
      font-size: 16px;
      color: $color-blue;
      line-height: 18px;
      display: inline_block;
      margin-left: 12px;
      text-decoration: underline;
    }
    .total-info{
      text-align: center;
      width: 2%;
      color: $gray-light;
      .total{
        color: $color-red;
      }
      .original-amount{
        font-size: 12px;
        text-decoration: line-through;
      }
    }
    .price {
      color: $color-red;
    }
  }
  .service-button {
    border-radius: 5px;
    border: 1px solid $gray-lighter;
    margin: auto;
    padding: 6px;
    text-align: center;
    line-height: 20px;
    i {
      font-size: 18px;
      font-weight: bold;
      vertical-align: middle;
    }
  }

  .food-number-section{
    text-align: center;
  }

  .food-number{
    display: inline-block;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border: 3px solid $color-red;
    border-radius: 1000px;
    .number{
      font-weight: bold;
      font-size: 20px;
      color: $color-red;
    }
  }
  .food-number-hint{
    font-size: 14px;
    line-height: 34px;
    color: $color-red;
  }
}

#order-success-show-page {
  text-align: center;
  .smile {
    margin-top: 50px;
    padding: 10px;
    color: $gray-light;
    i {
      font-size: 80px;
      display: block;
    }
  }

  .info {
    font-size: 20px;
    color: $gray-light;
    margin: 20px;
    line-height: 1.5em;
  }
  .operation-table {
    display: table;
    width: 100%;
    padding: 0 10px;
    .operation-column {
      display: table-cell;
      width: 1%;
    }
    .btn-block {
      margin: 8px 10px;
    }
  }

}

.inv-order-main {
  img.invitation-header {
    width: 100%;
    display: block;
  }
  .inv-header {
    font-size: 17px;
    font-family: 'Microsoft Yahei', '微软雅黑';
    line-height: 1.5em;
    padding: 10px;
    a {
      display: inline;
      color: white;
      text-decoration: underline !important;
      font-weight: bold;
    }
    > div {
      padding: 5px 0;
    }
    .inv-header-2, .inv-header-3 {
      text-indent: 2em;
    }
    .inv-header-signature {
      text-align: right;
    }
  }

  .decision-op {
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
    .btn {
      border-radius: 2px;
      padding: 10px;
      font-size: 15px;
      display: inline-block;
      border: 1px solid white;
    }
    .btn-agree {
      background-color: white;
      color: $color-red;
    }
    .btn-disagree {
      background-color: $color-red;
      color: white;
    }
  }

  .guest-list {
    border-top: 1px solid white;
    padding-top: 10px;
    font-size: 16px;
    text-align: center;
    padding-bottom: 40px;
    .guest-list-title {
      font-weight: bold;
    }
    .guest-item {
      padding: 10px;
      height: 60px;
      padding-left: 30%;
      line-height: 40px;
      img {
        border-radius: 1000px;
        width: 40px;
        display: block;
        float: left;
        margin-left: -50px;
      }
    }
  }
}
.share-nav{
  .alert-content{
    position: fixed;
    width: 90%;
    left: 5%;
    height: 500px;
    z-index: 2002;
    .share-pointer{
      width: 100%;
      height: 45px;
      text-align: right;
    }
    .share-hint{
      border-radius: 10px;
      width: 100%;
      height: 150px;
      background-color: white;
      padding: 2px;
      .outline{
        width: 100%;
        height: 100%;
        border: dashed 2px #777;
        border-radius: 10px;
        .hint{
          line-height: 30px;
          font-size: 17px;
          text-align: center;
          margin-top: 15px;
        }
        .action{
          margin-top: 15px;
          text-align: center;
          .i-know{
            padding: 5px;
            border: solid 1px $color-red;
            border-radius: 5px;
            background-color: white;
            font-size: 18px;
          }
        }
      }
    }
  }

}


/* call waiter */
.service-items{
  position: fixed;
  margin-top: 80px;
  width: 100%;
  z-index: 2002;
  .service-item-cell {
    width: 33.3%;
    float: left;
    padding: 10px 0;
  }
  .service-item{
    width: 80px;
    height: 80px;
    display: block;
    line-height: 80px;
    border-radius: 1000px;
    background-color: white;
    color: $color-red;
    font-size: 16px;
    text-align:center;
    margin: auto;
  }
}

/* hasten */
.hasten-items{
  position: fixed;
  margin-top: 50px;
  width: 100%;
  z-index: 2002;
  max-height: 600px;
  padding-bottom: 120px;
  overflow: scroll;

  .hasten-item-cell {
    width: 100%;
  }

  .hasten-item{
    display: block;
    width: 90%;
    height:100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    line-height: 30px;
    font-size: 16px;
    color: $color-red;
    background-color: white;
    border-radius: 8px;
  }
}
