.sign-records-content{
  .sign-records-section {
    .list-item {
      .label {
        width: 35%;
        float: left;
        text-align: right;
      }
      .value {
        width: 65%;
        float: left;
        text-align: center;
      }
    }
    .list-item:first-child {
      .label, .value {
        height: 37px;
      }
      .label {
        line-height: 37px;
      }
      font-weight: bold;
    }
  }
}