#user-profile-page, #coupon-nav-page, #contact-us-page {
  #top-user-avatar {
    background-image: url('/images/ddt/profile_bg.jpg');
    background-size: 100% auto;
  }
  .avatar-section, .user-nav-section {
    filter:alpha(opacity=50);
    -moz-opacity:0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
    color: white;
    a {color: white;}
    height: 70px;
    padding: 10px 10px;
  }
  .user-nav-section > div {
      display: table-cell;
      vertical-align: middle;
  }
  .avatar-section {
    background-color: #e34730;
    padding: 10px 130px 10px 70px;
    line-height: 50px;
    .avatar {
      width: 50px;
      height: 50px;
      text-align: center;
      font-size: 27px;
      border: 1px solid white;
      border-radius: 1000px;
      float: left;
      margin-left: -60px;
      img {
        width: 48px;
        height: 48px;
        display: block;
        border-radius: 1000px;
      }
    }
    .name {
      font-size: 16px;
      font-weight: bold;
    }
    .favorite-nav-item {
      float: right;
      margin-right: -120px;
      .my-favorite-button {
        i {
          font-weight: bold;
        }
        padding: 5px;
        border: 1px solid white;
        border-radius: 4px;
      }
    }
  }
  .user-nav-section {
    background-color: #cb3121;
    text-align: center;
    .user-nav-item:last-child {
      border-right: 0;
    }
    .user-nav-item {
      width: 1%;
      border-right: 1px solid $gray-lighter;
      i {
        display: block;
        height: 30px;
        line-height: 30px;
        font-size: 22px;
        font-weight: bold;
      }
      .text {
        height: 20px;
      }
    }
  }

  .section {
    a {
      display: block;
      padding: 12px 0;
      font-size: 14px;
      border-bottom: 1px solid $gray-lightest;
      color: $gray-light;
      i {
        font-size: 14px;
        color: white;
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        border-radius: 2px;
        margin-right: 8px;
      }

    }
    .arrow-right:after {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .version {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    line-height: 20px;
    color: $gray-lighter;
  }
}


#vip-info-page {
  background: url('/images/ddt/vip-info/bk_repeat1_3.jpg') repeat-y right 0,url('/images/ddt/vip-info/bk_repeat1_2.jpg') repeat-y left 0,url('/images/ddt/vip-info/bk_top1_1.jpg') repeat-x 0 0,url('/images/ddt/vip-info/bk_repeat1_1.jpg') repeat 0 0,#864c2c;
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-size: auto auto, auto auto, 100% auto, auto auto;
  background-position: left 0,right 0,0 0,0 0;
  .vip-card {
    text-align: center;
    width: 268px;
    height:159px;
    margin: auto;
    margin-top: 20px;
    background: url('/images/ddt/vip-info/vip-card.jpg') center center no-repeat;
    background-size: 267px;
    .avatar, .vip-info {
      display: inline-block;
      float:left;
      text-align: left;
    }
    .avatar {
      margin:10px;
      width: 130px;
      text-align: center;
      .logo-name{
        display: inline-block;
        color: #8d6f4d;
        font-size: 20px;
        margin-top: 40px;
      }
    }
    .vip-info {
      margin-top: 89px;
      width: 108px;
      margin-right: 10px;
      font-weight: bold;
      .label {
        color: #bfab92;
        font-size: 8px;
        line-height: 20px;
      }
      .value {
        color: #8d6f4d;
        font-size: 20px;
        padding: 0;
      }
    }
  }
  .use-hint {
    color: #696969;
    line-height: 26px;
    font-size: 14px;
    text-align: center;
    padding:10px;
  }

  .balance {
    padding: 0 20px;
    .list {
      border: 1px solid #c3c3c3;
      border-radius: 8px;
    }
  }
  .section {
    border-radius: 8px;
    border: 1px solid $gray-lighter;
    margin-bottom: 15px;
  }
}

.qrcodes{
  border: 1px solid $gray-lighter;
  border-radius: 5px;
  margin: 10px;
  background-color: white;

  .top{
    line-height: 26px;
    text-align: left;
    border-bottom: 1px solid $gray-lighter;
    padding: 10px;
    .name{
      font-size: 18px;
    }
    .expired_at,.exchanged_at{
      font-size: 15px;
      color: gray;
    }
  }
  .middle{
    .exchange-code{
      line-height: 45px;
      .hint{
        font-size: 16px;
        color: gray;
      }
      .code{
        font-size: 22px;
        font-weight: bold;
      }
    }
  }
  .bottom{
    padding: 10px;
    text-align: left;
    .hint{
      font-size: 16px;
      color: gray;
    }
    .btns-wrap{
      width: 100%;
      display: table;
    }
    .btns{
      display: table-row;
      .btn{
        display: table-cell;
        text-align: center;
      }
    }
  }
}
.scan-code{
  text-align: center;
  .qrcode-wrap{
    display: inline-block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .qrcode{
    margin: 0px;
    table {
      margin: 5px auto;
      border-width: 0;
      border-style: none;
      border-color: #0000ff;
      border-collapse: collapse;
    }

    td {
      border-left: solid 5px #000;
      padding: 0;
      margin: 0;
      width: 0px;
      height: 5px;
    }

    td.black { border-color: #000; }
    td.white { border-color: #fff; }
  }
  .barcode{
    margin: 5px 5px 5px;
    table {
      margin: 5px auto;
      border-width: 0;
      border-style: none;
      border-color: #0000ff;
      border-collapse: collapse;
    }

    td {
      padding: 0;
      margin: 0;
      width: 5px;
      height: 80px;
      &.on { background-color: #000; }
      &.off { background-color: #fff; }
    }
  }
  .code{
    text-align: center;
    font-size: 20px;
  }
  .desc{
    margin: 10px 0;
    text-align: center;
  }
}

#update-vip-info-page{
  *{ box-sizing: border-box;}
  .phone-section{
    margin: 5px 0 10px 0;
    .phone{
      width: 100%;
      margin: 10px 0;
      .phone-input, .validation-btn{
        display: inline-block;
        line-height: 40px;
        font-size: 18px;
        border: 0;
        border-bottom: 1px solid #ccc;
        &:focus{
          outline:none;
        }
      }
      .phone-input {
        width: 64%;
        padding: 0px 12px;
      }
      .validation-btn{
        text-align: center;
        padding: 0;
        border-radius: 5px;
        width: 34%;
        background-color: #f34b3f;
        color: white;
        &.disable{
          background-color: $gray-lighter;
          border: 1px solid $gray-light;
        }
      }
    }
    .validation-code{
      position: relative;
      margin: 10px 0;
      .code{
        display: inline-block;
        width: 40%;
        line-height: 40px;
        font-size: 18px;
        padding: 0px 12px;
        border: 0;
        border-bottom: 1px solid #ccc;
        &:focus{
          outline:none;
        }
      }
      .time{
        display: inline-block;
        float: right;
        width: 34%;
        color: #f34b3f;
        text-align: center;
        margin-top: -5px;
      }
    }

  }
}
