.wechat-share-record-section {
  .wechat-share-record-item {
    height: 96px;
    padding: 8px 0 8px 88px;
    img {
      width: 80px;
      height: 80px;
      overflow: hidden;
      margin-left: -88px;
      float: left;
    }

    .title {
      font-size: 16px;
      font-weight: bold;
      line-height: 30px;
      height: 30px;
    }
    .viewed_users_count {
      font-size: 13px;
      color: $gray-light;
    }
  }
}

.wechat-share-record-detail-section {
  padding: 0;
  .viewed-users {

  }
  .viewed-user {
    float: left;
    width: 33%;
    text-align:center;
    img {
      max-width: 100%;
      padding: 5px 10px 0 10px;
    }
    .nickname {
      height: 20px;
      font-size: 16px;
      color: $gray;
      line-height: 20px;
    }
  }
}