*{ box-sizing: border-box; }
.bind-order-content{
  .alert{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    font-size: 14px;
  }
  .title{
    text-align: center;
    margin: 40px 0;
    font-size: 26px;
    color: red;
  }
  .order-total{
    text-align: center;
    font-size: 50px;
    margin: 40px 0;
  }
  .order-infos{
    border-top: 1px solid #ddd;
    .order-info{
      position: relative;
      font-size: 18px;
      line-height: 40px;
      .order-info-label{
        padding-left: 5px;
        color: #777;
        display: inline-block;
        width: 30%;
        text-align: left;
      }
      .order-info-value{
        color: #333;
        display: inline-block;
        width: 65%;
        text-align: right;
        &.red{
          color: #F34B3F;
        }
        input{
          width: 100%;
          border-radius: 5px;
          height: 40px;
          border: 1px solid #ddd;
        }
      }
    }
    .pay-method-btn{
      box-sizing: border-box;
      display: inline-block;
      border-radius: 5px;
      height: 41px;
      text-align: center;
      font-size: 15px;
      width: 28%;
      background-color: #fff;
      margin: 20px 5px 20px;
      line-height: 41px;
      color: #000;
      cursor: pointer;
      text-decoration: none;
      border: 1px solid #ddd;
      &.active{
        border-color: #F34B3F;
        color: #F34B3F;
      }
    }
    .link-btn{
      display: block;
      border-radius: 5px;
      height: 60px;
      text-align: center;
      font-size: 18px;
      width: 100%;
      background-color: #F34B3F;
      margin: 5px 0 20px;
      line-height: 60px;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      &.submit-btn{
        background-color: #18BD4B;
      }
    }
  }
}