body{ overflow: hidden;}
.extended-form-order{
  margin: 10px 50px;
  text-align: center;
  .table-number{
    color: $color-red;
    font-size: 30px;
    line-height: 30px;
    padding: 20px 0;
    border-bottom: 4px solid $gray-lighter;
    margin: 20px 0;
  }
  .line{
    margin: 20px 0;
    overflow: hidden;
    min-height: 200px;
    .line-label{
      float: left;
      width: 15%;
      margin: 10px 0;
      color: $gray-light;
      font-size: 25px;
      line-height: 30px;
    }
    .adjustments{
      overflow: hidden;
      float: left;
      width: 50%;
      .adjustment{
        overflow: hidden;
        margin: 10px 0;
        .adjustment-label{
          float: left;
          color: $color-red;
          font-size: 30px;
          width: 50%;
          line-height: 30px;
        }
        .adjustment-value{
          float: left;
          width: 50%;
          font-size: 30px;
          line-height: 30px;
        }
      }
    }
    .total{
      float: left;
      width: 20%;
      font-size: 30px;
      line-height: 30px;
      margin: 10px 0;
    }
    .pay-items{
      overflow: hidden;
      float: left;
      width: 50%;
      .pay-item{
        margin: 10px 0;
        overflow: hidden;
        .pay-item-label{
          float: left;
          color: $color-primary;
          font-size: 25px;
          width: 50%;
          line-height: 30px;
        }
        .pay-item-value{
          float: left;
          width: 50%;
          font-size: 30px;
          line-height: 30px;
        }
      }
    }
    .qrcode{
      float: left;
      width: 35%;
    }
  }
  .pay-total{
    color: #fff;
    background-color: $color-primary;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 25px;
    line-height: 30px;
    border-radius: 5px;
    width: 40%;
  }
}