<md-dialog flex="60">
  <md-toolbar class="md-toolbar-tools">
    <h2>余额充值</h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="close()">
      <md-icon>close</md-icon>
    </md-button>
  </md-toolbar>
  <md-dialog-content class="md-dialog-content">
    <form name="form" layout="column">
      <div class="crm-form-line" layout="row" layout-align="left center">
        <label class="crm-form-label" flex="20">充值金额</label>
        <div class="crm-form-control" flex="80">
          <input type="text" ng-model="recharge.cash_amount" placeholder="充值金额">
        </div>
      </div>
      <div class="crm-form-line" layout="row" layout-align="left center">
        <label class="crm-form-label" flex="20">到账金额</label>
        <div class="crm-form-control" flex="80">
          <input type="text" ng-model="recharge.amount" placeholder="到账金额">
        </div>
      </div>
      <div class="crm-form-line" layout="row" layout-align="left center">
        <label class="crm-form-label" flex="20">备注</label>
        <div class="crm-form-control" flex="80">
          <textarea type="text" ng-model="recharge.note" placeholder="备注"/>
        </div>
      </div>
    </form>
  </md-dialog-content>
  <md-dialog-actions layout='row' layout-align="center center">
    <md-button flex flex="50" ng-click="close()" class="md-primary">
      取消
    </md-button>
    <md-button flex flex="50" ng-click="submit()" class="md-primary md-raised">
      确认
    </md-button>
  </md-dialog-actions>
</md-dialog>