<div class="main-view" id="wechat-share-record-page">
  <div class="padding-10"></div>
  <div class="weui_cells_title">基本信息</div>
  <div class="weui_cells">
      <div class="weui_cell" ng-if="wechat_share_record.title">
          <div class="weui_cell_bd weui_cell_primary">
              <p>分享主题</p>
          </div>
          <div class="weui_cell_ft">{{wechat_share_record.title}}</div>
      </div>
      <div class="weui_cell" ng-if="wechat_share_record.title">
          <div class="weui_cell_bd weui_cell_primary">
              <p>阅读人数</p>
          </div>
          <div class="weui_cell_ft">{{wechat_share_record.viewed_users_count}}</div>
      </div>
      <div class="weui_cell" ng-if="wechat_share_record.title">
          <div class="weui_cell_bd weui_cell_primary">
              <p>分享时间</p>
          </div>
          <div class="weui_cell_ft">{{wechat_share_record.created_at|date: 'yyyy-MM-dd HH:mm'}}</div>
      </div>
      <div class="weui_cell" ng-if="wechat_share_record.title">
          <div class="weui_cell_bd weui_cell_primary">
              <p>分享类型</p>
          </div>
          <div class="weui_cell_ft">{{wechat_share_record.share_type_name}}</div>
      </div>
  </div>
  <div class="weui_cells_title">描述</div>
  <div class="padding" style="background-color: white;" ng-bind-html="wechat_share_record.desc|unsafe">
  </div>

  <div class="weui_cells_title">阅读我分享的好友</div>
  <div class="my-items">
    <div class="my-item-group" ng-repeat="item_group in item_groups">
      <div class="my-item" ng-repeat="wechat_view_record in item_group">
        <div ng-if="!!wechat_view_record.nickname">
          <img ng-src="{{wechat_view_record.headimgurl}}"/>
          <div class="label">
            {{wechat_view_record.nickname}}
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>