
.filter{
  position: fixed;
  background-color: white;
  .tab{
    display: inline-block;
    padding: 5px;
    border: $border-default;
  }
  .tab.active{
    border-color: $red;
  }
}

.orders{
  padding-top: 40px;
  .button{
    border: $border-default;
    padding: 3px;
  }
}
