#invitation-page {
    background-color: $red;
    box-sizing: border-box;
    padding: 10px 0;

    .envelop {
      box-sizing: border-box;
      padding: 100px 30px 0 30px;
      width: 280px;
      height: 534px;
      max-width: 100%;
      margin: auto;
      background: url("/images/ddt/invitation/paper.png") center center no-repeat;
      background-size: contain;
      font-size: 18px;
      .inv-header {
        color: $dark;
        line-height: 1.5em;
      }
      .inv-header-1 {
        font-size: 18px;
      }
      .inv-header-2 {
        text-indent: 2em;
        font-size: 18px;
        a{
          text-indent: 0em;
        }
      }
      .inv-header-signature {
        text-align: right;
        padding: 10px 0;
      }

      .share-btn {
        font-size: 16px;
        text-align: center;
      }

      .options {
        padding: 10px;
        text-align: center;
        .btn {
          display: inline-block;
          padding: 5px 10px;
          font-size: 14px;
          border-radius: 5px;
          line-height: 1.5em;
        }
        .btn-agree {
          margin-right: 10px;
        }
        .btn-agree, .btn-disagree {
          color: white;
          background-color: $red;
        }
      }

      .envelop-footer {
        text-align: center;
        font-size: 14px;
        a {
            text-decoration: underline;
        }    
      }
    }

    .guest-list {
      padding: 10px;
      .guest-list-title {
        padding-bottom: 5px;
        text-align: center;
        font-size: 18px;
        margin-bottom: 5px;
        border-bottom: 1px dashed $light-gray;
      }
      .no-record {
        background-color: transparent;
        color: white;
      }
      .guest-item {
        padding: 5px 0 5px 40px;
        line-height: 30px;
        font-size: 16px;
        img {
          float: left;
          margin-left: -35px;
          width: 30px;
          height: 30px;
          border-radius: 1000px;
        }
      }
    }
}

.share-nav{
  .alert-content{
    position: fixed;
    width: 90%;
    left: 5%;
    height: 500px;
    z-index: 2002;
    .share-pointer{
      width: 100%;
      height: 45px;
      text-align: right;
    }
    .share-hint{
      border-radius: 10px;
      width: 100%;
      height: 150px;
      background-color: white;
      padding: 2px;
      box-sizing: border-box;
      .outline{
        width: 100%;
        height: 100%;
        border: dashed 2px #777;
        border-radius: 10px;
        .hint{
          line-height: 30px;
          font-size: 17px;
          text-align: center;
          margin-top: 15px;
        }
        .action{
          margin-top: 15px;
          text-align: center;
          .i-know{
            padding: 5px 15px;
            color: $red;
            border: solid 1px $red;
            border-radius: 5px;
            background-color: white;
            font-size: 18px;
          }
        }
      }
    }
  }

}

#invitation-page-share-hint {
  .share-hint {
    text-align: center;
  }
  .action {
    padding: 10px 0;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    .weui_btn.weui_btn_plain_primary {
      color: white;
      border-color: white;
    }
  }
}
