.order-state-section {
  height: 70px;
  box-sizing: border-box;
  background-color: $red;
  padding: 15px 0;
  .order-state {
    display: table-cell;
    width: 1%;
    &.active{
      .line-through{
        border-bottom: 1px solid white;
      }

      .order-state-body {
        color: white;
      }

      i.weui_icon_success:before {
        color: white;
      }
    }
  }
  .order-state-header {
    line-height: 20px;
    width: 100%;
    display: table;
    vertical-align: middle;
    color: rgba(255,255,255, 0.5);
  }

  .order-state-body {
    padding: 5px 0;
    font-size: 12px;
    line-height: 1.5em;
    color: rgba(255,255,255, 0.5);
    text-align: center;
  }

  .square {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    .line-through {
      border-bottom: 1px solid rgba(255,255,255, 0.5);
    }
  }
  i {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
  }

  i.weui_icon_success:before {
    color: rgba(255,255,255, 0.5);
  }

}

#orders-index {
  background-color: $bg_color;
  min-height: 100%;
  .order-item {
    margin-top: 10px;
    background-color: white;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    line-height: 1.5em;
    padding: 0 10px;
    .line1 {
      font-size: 14px;
      padding: 5px 0px;
      border-bottom: 1px dashed $light-gray;
      .placed-at {
        color: $dark-gray;
        font-size: 12px;
      }
      .state {
        float: right;
        color: $gray;
      }
      .state.active {
        color: $orange;
      }
    }

    .line2 {
      font-size: 14px;
      padding: 5px 0px;
      .comment-btn {
        border: 1px solid $red;
        padding: 0px 8px;
        border-radius: 4px;
        color: $red;
        float: right;
      }
      .comment {
        float: right;
        color: $gray;
      }
      .comment.active {
        color: $orange;
        border: 1px solid $orange;
        border-radius: 3px;
        padding: 0 10px;
      }
    }
  }
}

.order-show {
  min-height: 100%;
  padding-bottom: 80px;
  background-color: $light-gray;
  .order-actions {
    background-color: white;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 10px;
  }
  .weui_cells_access.orange .weui_cell_ft:after {
    color: $orange;
    border-color: $orange;
  }
  .weui_cells_access.order-action-item {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .label {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
  }

  .order-action-item {
    padding: 5px 10px;
    display: block;
    color: $dark;
    font-size: 14px;
    border-bottom: 1px dashed $light-gray;
  }

  .line-items-section, .order-info-section {
    background-color: white;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 10px;

    .item {
      padding: 5px 10px;
      font-size: 14px;
      border-bottom: 1px dashed $light-gray;
    }

    .item:last-child {
      border-bottom: 0;
    }

    .item-label {
      float: left;
    }

    .label {
      color: $dark;
    }

    .value {
      float: right;
      color: $dark-gray;
    }

    .item-subtotal {
      float: right;
    }
    .original-amount {
      text-decoration: line-through;
    }
  }
}

#fast-food-show {
    .food-number-section {
      margin-bottom: 10px;
      padding: 10px;
      background-color: white;
    }

    .food-number {
      color: white;
      background-color: $red;
      border-radius: 1000px;
      width: 100px;
      height: 100px;
      margin: 5px auto;
      text-align: center;
      line-height: 50px;
      padding: 25px 0;
      box-sizing: border-box;
      font-size: 38px;
    }

    .food-number-hint {
      color: $dark;
      font-size: 14px;
      text-align: center;
      line-height: 1.5em;
      color: $dark;
    }

    .fastfood-pay-section {
      margin-bottom: 10px;
      padding: 10px;
      background-color: white;
      font-size: 14px;
      line-height: 1.5em;

      .center {
        text-align: center;
        margin: auto;
        padding: 5px 0;
      }
      .check-pay-btn {
        display: block;
        margin: auto;
        padding: 2px;
        width: 120px;
        border-radius: 4px;
        color: $red;
        border: 1px solid $red;
        text-align: center;
      }
    }
}

.order-footer.page-footer{
  * {
    box-sizing: border-box;
  }
  box-sizing: border-box;
  height: 80px;
  .service-item.buy {
    float: right;
    width: 80px;
    margin: 0;
    .service-btn {
      width: 70px;
      height: 70px;
      line-height: 70px;
    }
  }
  .service-item {
    width: 60px;
    margin: 10px 0;
    float: left;
    display: inline-block;
    .service-btn {
      background-color: white;
      width: 50px;
      height: 50px;
      border-radius: 1000px;
      text-align: center;
      font-size: 15px;
      display: block;
      line-height: 50px;
      margin: 5px auto;
      border: 1px solid $light-gray;
      box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
      -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    }
    .service-btn.submit－btn {
      background-color: $red;
      color: white;
    }
  }
}
/* call waiter */
.service-items{
  position: fixed;
  margin-top: 80px;
  width: 100%;
  z-index: 2002;
  .service-item-cell {
    width: 33.3%;
    float: left;
    padding: 10px 0;
  }
  .service-item{
    width: 80px;
    height: 80px;
    display: block;
    line-height: 80px;
    border-radius: 1000px;
    background-color: white;
    color: $orange;
    font-size: 16px;
    text-align:center;
    margin: auto;
  }
}
/* hasten */
.hasten-items{
  position: fixed;
  margin-top: 50px;
  width: 100%;
  z-index: 2002;
  max-height: 400px;
  padding-bottom: 120px;
  overflow: scroll;

  .hasten-item-cell {
    width: 100%;
  }

  .hasten-item{
    display: block;
    width: 90%;
    height:100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: $orange;
    background-color: white;
    border-radius: 8px;
  }
}



#delivery-orders-page {
  .delivery-order:first-child {
    margin-top: 10px;
  }
  .delivery-order {
    margin: 0 10px 10px 10px;
  }

  .delivery-title {
    .pay-item-state, .pay-amount , .pay-status{
      display: inline-block;
      float: left;
      font-size: 15px;
      color: $orange;
    }

    .pay-item-state {
      width: 60%;
      border-right: 1px solid $gray;
      box-sizing: border-box;
    }

    .pay-amount {
      width: 20%;
      text-align: center;
    }
    .pay-status {
      width: 20%;
      text-align: center;
      border-left: 1px solid $gray;
      box-sizing: border-box;
    }
  }

  .delivery-desc {
    font-size: 15px;
    color: $dark;

    p {
      line-height: 1.5em;
    }

    .delivery-hint {
      padding-top:5px;
      padding-bottom: 15px;
      .tag {
        border: 1px solid $orange;
        color: $orange;
        font-size: 12px;
        line-height: 1.5em;
        padding: 5px 10px;
        border-radius: 10px;
        display: inline-block;
        margin-right: 5px;

      }
    }

  }
  .delivery-finish-btns{
    overflow: hidden;
    .call-customer{
      display: inline-block;
      float: left;
      width: 47%;
      background-color: $orange;
    }
    .finish-shipping{
      display: inline-block;
      width: 47%;
      margin-top: 0;
      margin-left: 6%;

    }
  }

}
