<div common-footer></div>
<div id="my-section" class="vip-section main-view">
  <div vip-card ng-user="user" ng-shop="current_shop"></div>

  <div class="padding">

    <a class="weui_btn weui_btn_warn" ng-click="go('/user/update-vip-info')" ng-if="user && !user.is_vip && !user.vip_info.is_apply_vip">
      激活会员卡
    </a>
    <a class="weui_btn weui_btn_warn weui_btn_disabled" ng-if="user && !user.is_vip && user.vip_info.is_apply_vip">
      等待审核会员身份
    </a>
  </div>

  <div class="balance-group" ng-if="user && user.is_vip">
    <div class="balance-item">
      <div class="label">
        累计消费
      </div>
      <div class="value">
        {{ user.vip_info.total_amount || 0 | currency:shop.currency}}
      </div>
    </div>
    <div class="balance-item">
      <div class="label">
        积分
      </div>
      <div class="value">
        {{ user.credits_wallet }}
      </div>
    </div>
    <div class="balance-item">
      <div class="label">
        余额
      </div>
      <div class="value">
        {{ user.card_wallet | currency: shop.currency}}
      </div>
    </div>
    <div class="balance-item">
      <div class="label">
        等级
      </div>
      <div class="value">
        {{user.vip_info.vip_level_name}}
      </div>
    </div>
  </div>

  <div class="padding-20"></div>
  <div>
    <div class="my-items">
      <div class="my-item-group" ng-repeat="item_group in item_groups">
        <div class="my-item" ng-repeat="item in item_group" ng-click="item.click()">
          <div ng-if="!!item.label">
            <img ng-src="{{item.img}}"/>
            <div class="label">
              {{item.label}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    Build version 5.1
    <div ng-if="current_shop.support_brand_name == '点单通'">点单通提供技术支持</div>
  </div>

  <div class="padding-10">
  </div>

  <div class="padding-50">
  </div>
</div>
