<div class="order-show">
  <div ng-include src="partial('order/orders/show-order-state')"></div>
  <div class="order-actions">
    <a class="order-action-item weui_cells_access" ng-click="go_page('main', '#/branches/'+branch.id)">
      <div class="label">{{branch.name}}</div>
      <i class="weui_cell_ft"></i>
    </a>
    <a class="order-action-item weui_cells_access" ng-href="tel:{{branch.phone}}">
      <div class="label">商家客服 </div>
      <span class="right orange">{{branch.phone}}</span>
    </a>
    <a class="order-action-item weui_cells_access" ng-click="cancel()" ng-if="can_cancel()">
      <div class="label">取消订单</div>
      <i class="weui_cell_ft"></i>
    </a>

    <a class="order-action-item orange weui_cells_access " ng-click="go_invitation_order()" ng-if="can_go_invitation_order()">
      <div class="label">向好友发送邀请函</div>
      <i class="weui_cell_ft"></i>
    </a>

  </div>

  <div class="line-items-section">
    <div class="item">
      订单号：{{::order.number}}
    </div>
    <div class="item">
      点单时间：{{order.placed_at | date:'yyyy-MM-dd HH:mm'}}
    </div>
    <div class="item" ng-if="order.line_items.length > 0">
      点菜合计：
      <span class="red">{{::order.item_count}}份</span>，
      <strong class="red">{{::order.total|currency:currency}}</strong>
      <span class="red">(预付 {{::order.amount_for_pay}})</span>
      <span ng-if="order.tax_total>0">(税 {{order.tax_total|currency:currency}})</span><span ng-if='enable_foreign && order.tax_total==0'>（免税）</span>
    </div>
    <div class="item" ng-if="order.invoice">
      发票类型: {{order.invoice.invoice_type}}
    </div>
    <div class="item" ng-if="order.invoice">
      发票抬头: {{order.invoice.title}}
    </div>
  </div>

  <div class="order-info-section">
    <div ng-repeat="item in order.order_items" class="item">
        <span class="label">{{item.name}}</span>
        <span class="value"> {{item.value}}</span>
      </div>
  </div>
  <div ng-include src="partial('order/orders/show-footer')"></div>
</div>
