<div class="main-view padding" id="order-success-show-page">
  <div class="weui_msg">
    <div class="weui_icon_area">
        <i class="weui_icon_msg weui_icon_success"></i>
    </div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">{{hint}}</h2>
    </div>
    <p class="weui_msg_desc">{{desc}}</p>
  </div>
  <div class="weui_opr_area">
      <p class="weui_btn_area">
          <div class="weui_btn weui_btn_primary" ng-click="confirm()" ng-if="can_confirm">{{confirm_label || '查看'}}</div>
          <div class="weui_btn weui_btn_plain_primary" ng-click="back()" ng-if="can_back">{{back_label || '返回'}}</div>
      </p>
  </div>
</div>
