<div class="order-show has-footer" id="groupon-show">
  <div ng-include src="partial('orders/show-order-state')"></div>
  <div class="order-actions">
    <a class="order-action-item" ng-href="#/branches/{{branch.id}}">
      {{branch.name}}
      <i class="weui_cell_ft"></i>
    </a>
    <a class="order-action-item weui_cells_access" ng-click="cancel()" ng-if="can_cancel()">
      <div class="label">取消订单</div>
      <i class="weui_cell_ft"></i>
    </a>
  </div>

  <div class="line-items-section">
    <div class="item">
      订单号：{{::order.number}}
    </div>
    <div class="item">
      下单时间：{{order.placed_at | date:'yyyy-MM-dd HH:mm'}}
    </div>
    <div class="item">
      合计：<span class="red">{{order.item_count}}张</span>，<strong class="red">{{order.total|currency:currency}}</strong>
    </div>
    <div ng-if="order.state == 'completed'">
      <div ng-repeat="code in exchange_codes(line_item.id) track by $index"
            ng-click="coupon_detail(code)"
            class="item">
        兑换码 {{$index + 1}}:
        {{code.code}}
      </div>
    </div>


    <div class="item" ng-repeat="line_item in order.line_items">
      <div class="item-label">
        {{line_item.name_with_note}}<span ng-if="line_item.gift" class="red">(赠)</span>
        ×
        {{line_item.active_quantity}}{{line_item.unit_name}}
      </div>
      <div class="item-subtotal">
        <span class="total orange">{{line_item.total | currency: currency}}</span>
        <span class="original-amount" ng-if="line_item.amount != line_item.total">{{line_item.amount|currency: currency}}</span>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="order-info-section">
    <div ng-repeat="item in order.order_items" class="item">
        <span class="label">{{item.name}}</span>
        <span class="value"> {{item.value}}</span>
      </div>
  </div>
</div>

<div common-header></div>
<div ng-include src="partial('orders/show-footer')"></div>
  <div class="space-8"></div>
  <div ng-include src="partial('orders/show-order-state')"></div>
  <div class="space-8"></div>
  <div class="section no-bottom-border">
    <div class="list-item time">
      <span>订单号：{{::order.number}}</span><br/>
      <span>下单时间：{{order.placed_at | date:'yyyy-MM-dd HH:mm'}}</span>
    </div>
    <div class="list-item">合计：<span class="red">{{order.item_count}}张</span>，<strong class="red">{{order.total|currency:currency}}</strong></div>
    <div class='list-item' ng-repeat="line_item in order.line_items">
      <div>
        <div class="name">
          {{line_item.name_with_note}}
        </div>
        <div class="quantity-info">
          <span class="quantity">{{line_item.active_quantity}}{{line_item.unit_name}}</span>
            ×
          <span class="price">{{line_item.price|currency: currency}}</span>
        </div>
      </div>
      <div ng-if="order.state == 'completed'">
        兑换码:
        <span ng-repeat="code in exchange_codes(line_item.id)"
              ng-click="coupon_detail(code)"
              class="exchange-code">
          {{code.code}}
        </span>
      </div>
    </div>

      </div>
    <div class="list-item">
      <div ng-repeat="item in order.order_items" class="order-item">
        {{item.name}}: {{item.value}}
      </div>
    </div>
  </div>
  <div class="juchi"></div>

</div>
