<div id="sharable-coupon-received-page" class="main-view">

  <div class="sharable-coupon-title">
    成功抢到红包者名单
  </div>

  <div class="weui_cells no-top" ng-if="sharable_coupon.received_users.length == 0">
    <div class="weui_cell">
      <div class="weui_cell_hd">没有领取红包的好友</div>
    </div>
  </div>

  <div class="weui_cells no-top" ng-if="sharable_coupon.received_users.length > 0">
      <div class="weui_cell" ng-repeat="user in sharable_coupon.received_users" ng-click="go_show(sharable_coupon)">
          <div class="weui_cell_hd">
            <img ng-src="{{img_url(user.headimgurl)}}" alt="" style="width:40px; height: 40px;margin-right:5px;display:block;border-radius: 100px;">
          </div>
          <div class="weui_cell_bd weui_cell_primary dark">
              {{user.nickname ||'(用户ID: '+user.id+')' }}
          </div>
      </div>
  </div>
</div>