<div id="coupon-show">
  <div class="coupon-item coupon-green"
        ng-click="go_show(base_coupon)">
    <div class="coupon-inner">
      <div class="name">
        {{::base_coupon.name}}
        <span ng-if="base_coupon.expired" class="expired">（已过期）</span>
      </div>
      <div class="coupon-left">
        <div class="norminal-value">{{::base_coupon.norminal_value|currency: shop.currency}}</div>
        <div class="usable-condition">(满{{::base_coupon.coupon_min_usable_amount}} 可用)</div>
      </div>
      <div class="coupon-right">
        <div>兑换码:{{::base_coupon.exchange_code}}</div>
        <div class="usablestarts">{{::base_coupon.usable_starts_at|date: 'yyyy.MM.dd'}}-{{::base_coupon.usable_expires_at|date: 'yyyy.MM.dd'}}
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="exchange-part">
      <div class="exchange-button active" ng-if="can_exchange_code()" ng-click="go_exchange_code()">立即使用</div>
      <div class="exchange-button inactive" ng-if="!can_exchange_code()">{{cannot_exchange_code_title}}</div>
    </div>
    <div class-"refund-part">
      <div class="exchange-button active" ng-if="can_apply_refund()" ng-click="apply_refund()">
        申请退款
      </div>
      <div class="exchange-button active" ng-if="is_applying_refund()" ng-click="cancel_refund()">
        取消退款申请
      </div>
    </div>
    <div class="instruction">
      <div class="label">使用说明</div>
      <div class="detail">
        <ol>
          <li>代金券为{{::base_coupon.coupon_type_name}}</li>
          <li ng-repeat="instruction in base_coupon.coupon_usage_instructions">
            {{instruction}}
          </li>
          <li>适用门店: {{base_coupon.branch_names}}</li>
        </ol>
      </div>
    </div>

    <div class="description">
      <div class="label">图文详情</div>
      <div class="section" ng-repeat="coupon_photo in base_coupon.coupon_photos">
        <img ng-src="{{coupon_photo.img}}" alt="">
      </div>
      <div class="detail">
        {{base_coupon.description}}
      </div>
    </div>
  </div>
</div>
