.table-binds{
  .table-bind{
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    min-width: 140px;
    width: auto;
    height: 50px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 5px;
    margin-left: 20px;
  }
  .no-locked{
    text-decoration: underline;
  }
  .active{
    background-color: $color-red;
    color: white;
  }
}

.table-state-summary {
  position: absolute;
  width: 150px;
  left: 0;
  bottom: 0;
  height: 130px;
  text-align: center;
  color: white;
  border-top: 1px solid #738d99;
  .item {
    line-height: 20px;
    padding: 6px;
    font-size: 13px;
  }

  .item.active {
    background-color: #3E4B53;
    border-left: 5px solid #f97d73;
  }
}