<div class="page">
  <div class="page-footer">
    <div class="buy-section">
    <div class="groupon-price">{{coupon_version.exchange_num * coupon_version.credit_count}}个积分</div>
      <div class="buy-button bg-red" ng-click="exchange()">确认兑换</div>
    </div>
  </div>

  <div id="coupons-index">
    <div class="coupon-item coupon-orange">
      <div class="coupon-inner">
        <div class="name">
          {{::coupon_version.name}}
        </div>
        <div class="coupon-left">
          <div class="norminal-value">{{::coupon_version.norminal_value|currency: shop.currency}}</div>
          <div class="usable-condition">(满{{::coupon_version.coupon_min_usable_amount}} 可用)</div>
        </div>
        <div class="coupon-right">
          <div class="usablestarts">{{::coupon_version.usable_starts_at|date: 'yyyy.MM.dd'}}-{{::coupon_version.usable_expires_at|date: 'yyyy.MM.dd'}}
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="detail-button overflow-ellipsis"> {{::coupon_version.credit_count}}积分兑一张</div>
    </div>
  </div>



  <div class="weui_cells">
    <div class="weui_cell">
      <div class="weui_cell_bd weui_cell_primary">
          兑换数量
      </div>
      <div class="weui_cell_ft">
        <span class="button minus-button active" ng-click="minus()"><i class="fa fa-minus"></i></span>
        <span class="quantity-button">{{coupon_version.exchange_num}}</span>
        <span class="button plus-button active" ng-click="plus()"><i class="fa fa-plus"></i></span>  
      </div>
    </div>

    <div class="weui_cell">
      <div class="weui_cell_bd weui_cell_primary">
          兑换方式 <span class='orange'>{{coupon_version.exchange_num * coupon_version.credit_count}}</span>
      </div>
      <div class="weui_cell_ft">
        兑换后剩余{{user.credits_wallet - coupon_version.exchange_num * coupon_version.credit_count}}积分
      </div>
    </div>
  </div>
</div>