<div class="vip-section">
  <div vip-card ng-user="user" ng-shop="current_shop"></div>

  <div class="balance-group">
    <div class="balance-item">
      <div class="label">
        剩余积分
      </div>
      <div class="value">
        {{user.credits_wallet}}
      </div>
    </div>
    <div class="balance-item">
      <div class="label">
        总积分
      </div>
      <div class="value">
        {{user.vip_info.total_get_credits}}
      </div>
    </div>
    <div class="balance-item">
      <div class="label">
        已使用
      </div>
      <div class="value">
        {{user.vip_info.total_used_credits}}
      </div>
    </div>
  </div>

  <div class="padding-20"></div>

  <div class="my-items">
    <div class="my-item-group" ng-repeat="item_group in item_groups">
      <div class="my-item" ng-repeat="item in item_group" ng-click="item.click()">
        <div ng-if="!!item.label">
          <img ng-src="{{item.img}}"/>
          <div class="label">
            {{item.label}}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
