<div id="delivery-orders-page" class="page">
  <div class="header-bar">
    <div class="tab-group">
      <div class="tab-group-items">
        <div class="tab-item" 
            ng-click="change_tab(tab)" 
            ng-class="{'active': tab.key == active_key}" 
            ng-repeat="tab in tabs track by $index">
          <div class="text">{{::tab.name}}</div>
          <!-- <div class="text">{{::tab.name}}<span ng-if="'unassign' == tab.key">{{unassign_count}}</span></div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="has-header">
    <div class="no-record" ng-if="orders.length == 0">
        暂无订单
    </div>

    <div class="weui_panel weui_panel_access delivery-order" ng-repeat="order in orders track by $index">
        <div class="weui_panel_hd delivery-title">
          <div class="pay-item-state">
            {{order.pay_item_state_name}}
          </div>
          <div class="pay-amount">
            {{order.total|currency:currency}}
          </div>
          <div class="pay-status">
            <a class="orange"ng-click="show_order(order)"> 订单详情</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="weui_panel_bd">
            <div class="weui_media_box delivery-desc">
                <p>
                    <span class="delivery-from blue">取：</span>
                    {{order.branch_address}}
                </p>
                <p>
                    <span class="delivery-to green">送：</span>
                    {{order.delivery_address}}
                </p>

                <div class="delivery-hint">
                  <div class="tag red">下单时间: {{order.placed_at|moment}}</div>
                  <div class="tag red">派送距离: {{order.distance}}公里</div>
                </div>
            <div class="delivery-btns">
              <a ng-click="assign_to_self(order)"  class="weui_btn weui_btn_warn" ng-if="'unassign' == active_key">抢单</a>
              <a ng-click="start_ship(order)" class="weui_btn weui_btn_warn" ng-if="'pending' == active_key">开始配送</a>
              <div class="delivery-finish-btns" ng-if="'shipping' == active_key" >
                <a ng-href="tel:{{order.delivery_phone}}" class="weui_btn weui_btn_warn call-customer ">联系顾客</a>
                <a ng-click="finish_ship(order)" class="weui_btn weui_btn_warn finish-shipping">我已送达</a>
              </div>
            </div>

        </div>
    </div>
  </div>
</div>
