<div id="update-vip-info-page" class="main-view">
  <div class="padding-10"></div>
  <div class="weui_cells_title">
    必填信息
  </div>
  <div class="weui_cells weui_cells_form">
    <div class="weui_cell" ng-show="setting.name_required">
        <div class="weui_cell_hd"><label class="weui_label">姓名</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text" placeholder="请输入姓名" ng-model="vip_info.name" ng-disabled="is_vip">
        </div>
    </div>
    <div class="weui_cell" ng-show="setting.phone_required">
        <div class="weui_cell_hd"><label class="weui_label">手机号</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="tel" pattern="[0-9]*" placeholder="请输入手机号" ng-model="vip_info.phone" ng-disabled="is_vip">
        </div>
    </div>
    <div class="weui_cell" ng-if="current_shop.use_sms && current_shop.enable_vip_info_phone_validation && !is_vip">
        <div class="weui_cell_hd"><label class="weui_label">验证码</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="tel" placeholder="请输入验证码" ng-model="vip_info.sms_captcha_code">
        </div>
        <div class="weui_cell_bd">
            <a ng-click="send_validation_code()" class="orange" ng-if="!validation_time">获取验证码</a>
            <a ng-if="validation_time" class="time gray">{{validation_time}}秒后重新获取</a>
        </div>
    </div>
    <div class="weui_cell weui_cell_select weui_select_after" ng-show="setting.sex_required">
        <div class="weui_cell_hd">
            性别
        </div>
        <div class="weui_cell_bd weui_cell_primary">
          <select ng-model="vip_info.sex" ng-options="sex.value as sex.name for sex in sex_collection" class="weui_select" name="select2">
            <option value="" disabled>选择性别</option>
          </select>
        </div>
    </div>

    <div class="weui_cell" ng-show="setting.birthday_required">
        <div class="weui_cell_hd"><label for="" class="weui_label">生日</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="date"  ng-model="vip_info.birthday" />
        </div>
    </div>
    <div class="weui_cell" ng-show="setting.address_required">
        <div class="weui_cell_hd"><label class="weui_label">地址</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input type="text" ng-model="vip_info.address" class="weui_input">
        </div>
    </div>
    <div class="weui_cell" ng-show="setting.email_required">
        <div class="weui_cell_hd"><label class="weui_label">邮箱</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input type="text" ng-model="vip_info.email" class="weui_input">
        </div>
    </div>
  </div>
  <div class="weui_cells_title">
    选填信息
  </div>
  <div class="weui_cells weui_cells_form">
    <div class="weui_cell" ng-show="!setting.name_required && setting.name_display">
        <div class="weui_cell_hd"><label class="weui_label">姓名</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text" placeholder="请输入姓名" ng-model="vip_info.name" ng-disabled="is_vip">
        </div>
    </div>
    <div class="weui_cell" ng-show="!setting.phone_required && setting.phone_display">
        <div class="weui_cell_hd"><label class="weui_label">手机号</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="tel" pattern="[0-9]*" placeholder="请输入手机号" ng-model="vip_info.phone" ng-disabled="is_vip">
        </div>
    </div>
    <div class="weui_cell weui_cell_select weui_select_after" ng-show="!setting.sex_required && setting.sex_display">
        <div class="weui_cell_hd">
            性别
        </div>
        <div class="weui_cell_bd weui_cell_primary">
          <select ng-model="vip_info.sex" ng-options="sex.value as sex.name for sex in sex_collection" class="weui_select" name="select2">
            <option value="" disabled>选择性别</option>
          </select>
        </div>
    </div>

    <div class="weui_cell" ng-show="!setting.birthday_required && setting.name_display">
        <div class="weui_cell_hd"><label for="" class="weui_label">生日</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="date"  ng-model="vip_info.birthday" />
        </div>
    </div>
    <div class="weui_cell" ng-show="!setting.address_required && setting.address_display">
        <div class="weui_cell_hd"><label class="weui_label">地址</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input type="text" ng-model="vip_info.address" class="weui_input">
        </div>
    </div>
    <div class="weui_cell" ng-show="!setting.email_required && setting.email_display">
        <div class="weui_cell_hd"><label class="weui_label">邮箱</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input type="text" ng-model="vip_info.email" class="weui_input">
        </div>
    </div>
  </div>

  <div class="padding">
    <a class="weui_btn weui_btn_warn" ng-click="submit()" ng-class="{'weui_btn_disabled': !can_submit() }">
      提交
    </a>
  </div>
  <div class="weui_panel weui_panel_access">
    <a class="weui_panel_ft" href="javascript:void(0);" ng-click="go('/user/bind-vip')" ng-if="!user.is_vip">绑定会员</a>
  </div>
</div>
