<div id="update-pay-password-page" class="main-view">
  <div class="padding-10"></div>
  <div class="weui_cells_title">
    必填信息
  </div>
  <div class="weui_cells weui_cells_form">

    <div class="weui_cell" ng-if="!user.vip_info.password_not_set">
        <div class="weui_cell_hd"><label class="weui_label">原密码</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="password" placeholder="默认初始密码为 123456" ng-model="user.current_pay_password">
        </div>
    </div>

    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">新密码</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="password" placeholder="请输入新密码" ng-model="user.new_pay_password">
        </div>
    </div>
  </div>

  <div class="padding">
    <a class="weui_btn weui_btn_warn" ng-click="submit()" ng-class="{'weui_btn_disabled': !can_submit() }">
      立即更新
    </a>
  </div>
</div>
