$box-shadow-dark: 1px 1px 5px $gray-light;
$box-shadow-light: 1px 1px 5px $gray-lighter;
.wp-btn-block {
  margin: 5px;
  text-align: center;
  display: table;
  cursor: pointer;
  float: left;
  position: relative;
  border: 1px solid $gray-lightest;
  overflow-y: hidden;
  -moz-user-select: none;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: $box-shadow-dark;
  &:hover{
    box-shadow: $box-shadow-light;
  }
  &.hover:hover{
    color: $color-theme;
    border-color: $color-theme;
    box-shadow: $box-shadow-light;
  }

  &.active {
    background-color: $color-theme;
    color: #fff !important;
    border: none;
    box-shadow: $box-shadow-light;
  }
  &.primary{
    background-color: #007AFF;
    color: #fff !important;
    border: none;
  }
  &.warning{
    background-color: #ECC17B;
    color: #fff !important;
    border: none;
  }

  .text {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    line-height: 1.5em;
  }
  .overflow-hidden-text {
    overflow-y: hidden;
    height: auto;
  }
  &.disabled{
    background-color: $gray-light !important;
    color: #fff !important;
    border: 1px solid $gray-light;
  }
  span.point-number{
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    background-color: $color-red;
    @include tablet{
      padding: 0 4px;
    }
    @include desktop{
      padding: 0 8px;
    }
  }
  &.fillet{
    border-radius: 20px;
    padding: 0 10px;
    width: auto!important;
    min-width: 80px;
  }
}

.wp-btn-block.wp-btn-lg {
  @include tablet{
    height: 100px;
    width: 100px;
    font-size: 16px;
    .overflow-hidden-text {
      max-height: 98px;
    }
    box-shadow: 2px 2px 1px $gray-light;
  }
  @include desktop{
    height: 160px;
    width: 160px;
    font-size: 18px;
    .overflow-hidden-text {
      max-height: 158px;
    }
    margin: 5px 10px;
    box-shadow: 3px 3px 1px $gray-light;
  }
}

.wp-btn-block.wp-btn-md {
  @include tablet{
    height: 71px;
    width: 100px;
    font-size: 16px;
    .overflow-hidden-text {
      max-height: 69px;
    }
  }
  @include desktop{
    height: 80px;
    width: 160px;
    font-size: 18px;
    .overflow-hidden-text {
      max-height: 78px;
    }
  }
}

.wp-btn-block.wp-btn {
  @include tablet{
    height: 50px;
    width: 88px;
    font-size: 14px;
    .overflow-hidden-text {
      max-height: 59px;
    }
  }
  @include desktop{
    height: 60px;
    width: 120px;
    font-size: 16px;
    .overflow-hidden-text {
      max-height: 58px;
    }
  }
}

.wp-btn-block.wp-btn-sm {
  @include tablet{
    height: 40px;
    width: 60px;
    font-size: 14px;
    .overflow-hidden-text {
      max-height: 39px;
    }
  }
  @include desktop{
    height: 40px;
    width: 80px;
    font-size: 16px;
    .overflow-hidden-text {
      max-height: 38px;
    }
  }
}

.wp-btn-block.wp-btn-xs {
  @include tablet{
    height: 20px;
    width: 40px;
    font-size: 12px;
    .overflow-hidden-text {
      max-height: 19px;
    }
  }
  @include desktop{
    height: 20px;
    width: 40px;
    font-size: 12px;
    .overflow-hidden-text {
      max-height: 18px;
    }
  }
}

.cart-action-btn{
  float: left;
  width: 40px;
  height: 40px;
  margin: 5px 10px;
  text-align: center;
  border: 1px solid $gray-light;
  border-radius: 50%;
  line-height: 48px;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid $gray-lightest;
  box-shadow: $box-shadow-dark;
}
.product-btn{
  .product-name{
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .product-price{
    color: $color-theme;
    overflow: hidden;
    background-color: #ECECEC;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .product-stock-quantity{
    color: $color-theme;
    overflow: hidden;
    background-color: #ECECEC;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  @include tablet{
    .product-name, .product-price ,.product-stock-quantity{
      height: 34px;
      line-height: 34px;
    }
  }
  @include desktop{
    .product-name, .product-price ,.product-stock-quantity{
      height: 39px;
      line-height: 39px;
    }
  }
  &.active{
    background-color: $color-theme;
    .product-name{
      overflow: hidden;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .product-price{
      color: $color-theme;
      overflow: hidden;
      background-color: #ECECEC;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .product-stock-quantity{
      color: $color-theme;
      overflow: hidden;
      background-color: #ECECEC;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    color: #fff !important;
    border: 1px solid $color-theme;
  }
  &.disabled{
    background-color: $gray !important;
    color: #fff !important;
    border-color: $gray;
  }
}
