.wp-footbar{
  .wp-menu.right-fix{
    position: absolute;
    right: 0;
    bottom: 0;
    border-left: 1px solid #999999;
  }
  .toggle-action-content{
    position: absolute;
    top: -51px;
    left: 45%;
    height: 50px;
    .toggle-action{
      margin: 0 auto;
      width: 100px;
      height: 50px;
      border-top-right-radius: 50px;
      border-top-left-radius: 50px;
      background-color: #fff;
      border:1px solid #ddd;
      position: relative;
      cursor: pointer;
      position: 500;
      z-index: 500;
      .action-line-1{
        position: absolute;
        top: 12px;
        left: 33px;
        height: 14px;
        width: 34px;
        &:before{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 34px;
          height: 14px;
          border-bottom: 14px solid $color-theme;
          border-left: 17px solid transparent;
          border-right: 17px solid transparent;
          z-index: 500;
        }
        &:after{
          content: "";
          position: absolute;
          top: 3px;
          left: 3px;
          height: 11px;
          width: 28px;
          border-bottom: 11px solid #fff;
          border-left: 14px solid transparent;
          border-right: 14px solid transparent;
          z-index: 501;
        }
      }
      .action-line-2{
        position: absolute;
        top: 26px;
        left: 40px;
        height: 8px;
        width: 20px;
        opacity: 0.4;
        &:before{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 8px;
          border-bottom: 8px solid $color-theme;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          z-index: 500;
        }
        &:after{
          content: "";
          position: absolute;
          top: 3px;
          left: 3px;
          height: 5px;
          width: 14px;
          border-bottom: 5px solid #fff;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          z-index: 501;
        }
      }
    }
  }
  .toggle-action-shadow{
    position: absolute;
    width: 100%;
    height: 5px;
    opacity: 0.05;
    background-color: #000;
    top: -6px;
    z-index: 501;
  }
  &.hide-menu{
    .toggle-action-content{
      top: -50px;
    }
    .toggle-action-shadow{
      top: -5px;
    }
  }
}