.wp-menu{
  background-color: #fff;
  color: $gray;
  z-index: 502;
  @include tablet{
    padding-top: 5px;
    height: 49px;
    width: 90px;
    .wp-menu-icon{ font-size: 25px; }
    .wp-menu-text{ font-size: 14px; }
  }
  @include desktop{
    padding-top: 10px;
    height: 69px;
    width: 120px;
    .wp-menu-icon{ font-size: 30px; }
    .wp-menu-text{ font-size: 16px; }
  }
  float: left;
  position: relative;
  border-right: 1px solid $gray-light;
  text-align: center;
  cursor: pointer;
  .wp-menu-icon{
    width: 100%;
    text-align: center;
    display: block;
  }
  &.active{
    color: $color-red !important;
  }
  .wp-nest-menus{
    position: absolute;
    left: -1px;
    .wp-menu{
      border: 1px solid $gray-light;
      border-bottom: none;
      @include tablet{ width: 91px;}
      @include desktop{ width: 121px;}
    }
    @include tablet{
      &.wp-nest-menus-count-1{ top: -49px - 1; }
      &.wp-nest-menus-count-2{ top: -49px * 2 - 1; }
      &.wp-nest-menus-count-3{ top: -49px * 3 - 1; }
      &.wp-nest-menus-count-4{ top: -49px * 4 - 1; }
      &.wp-nest-menus-count-5{ top: -49px * 5 - 1; }
      &.wp-nest-menus-count-6{ top: -49px * 6 - 1; }
      &.wp-nest-menus-count-7{ top: -49px * 7 - 1; }
      &.wp-nest-menus-count-8{ top: -49px * 8 - 1; }
      &.wp-nest-menus-count-9{ top: -49px * 9 - 1; }
      &.wp-nest-menus-count-10{ top: -49px * 10 - 1; }
      &.wp-nest-menus-count-11{ top: -49px * 11 - 1; }
      &.wp-nest-menus-count-12{ top: -49px * 12 - 1; }
      &.wp-nest-menus-count-13{ top: -49px * 13 - 1; }
      &.wp-nest-menus-count-14{ top: -49px * 14 - 1; }
      &.wp-nest-menus-count-15{ top: -49px * 15 - 1; }
      &.wp-nest-menus-count-16{ top: -49px * 16 - 1; }
      &.wp-nest-menus-count-17{ top: -49px * 17 - 1; }
      &.wp-nest-menus-count-18{ top: -49px * 18 - 1; }
      &.wp-nest-menus-count-19{ top: -49px * 19 - 1; }
      &.wp-nest-menus-count-20{ top: -49px * 20 - 1; }
    }
    @include desktop{
      &.wp-nest-menus-count-1{ top: -69px - 1; }
      &.wp-nest-menus-count-2{ top: -69px * 2 - 1; }
      &.wp-nest-menus-count-3{ top: -69px * 3 - 1; }
      &.wp-nest-menus-count-4{ top: -69px * 4 - 1; }
      &.wp-nest-menus-count-5{ top: -69px * 5 - 1; }
      &.wp-nest-menus-count-6{ top: -69px * 6 - 1; }
      &.wp-nest-menus-count-7{ top: -69px * 7 - 1; }
      &.wp-nest-menus-count-8{ top: -69px * 8 - 1; }
      &.wp-nest-menus-count-9{ top: -69px * 9 - 1; }
      &.wp-nest-menus-count-10{ top: -69px * 10 - 1; }
      &.wp-nest-menus-count-11{ top: -69px * 11 - 1; }
      &.wp-nest-menus-count-12{ top: -69px * 12 - 1; }
      &.wp-nest-menus-count-13{ top: -69px * 13 - 1; }
      &.wp-nest-menus-count-14{ top: -69px * 14 - 1; }
      &.wp-nest-menus-count-15{ top: -69px * 15 - 1; }
      &.wp-nest-menus-count-16{ top: -69px * 16 - 1; }
      &.wp-nest-menus-count-17{ top: -69px * 17 - 1; }
      &.wp-nest-menus-count-18{ top: -69px * 18 - 1; }
      &.wp-nest-menus-count-19{ top: -69px * 19 - 1; }
      &.wp-nest-menus-count-20{ top: -69px * 20 - 1; }
    }
  }
}
