.wp-table {
  display: table;
  width: 100%;
  &.without-border{
    .wp-table-col{
      border:none!important;
    }
  }
  &.center{
    .wp-table-col{
      text-align: center;
    }
  }
}
.wp-table-row {
  display: table-row;
  width: 100%;
  &.transition{
    transition: background-color 0.4s;
  }
  &.active{
    background-color: $color-orange;
    color: white;
    .wp-table-col.binded{
      background-color: $color-orange;
    }
    .wp-btn-sm{
      color: #000;
    }
  }
  &.new{
    background-color: $color-green;
    color: white;
  }
}
.wp-table-col {
  display: table-cell;
  border: 1px solid #C5D0DD;
  border-bottom: 0;
  line-height: 1.5em;
  padding: 10px;
  font-size: 15px;
  width: 1%;
  vertical-align: middle;
  overflow: hidden;
  word-break: break-all;

  &.col-1{ width: 1%; }
  &.col-2{ width: 2%; }
  &.col-3{ width: 3%; }
  &.col-4{ width: 4%; }
  &.col-5{ width: 5%; }
  &.col-6{ width: 6%; }
  &.col-7{ width: 7%; }
  &.col-8{ width: 8%; }
  &.col-9{ width: 9%; }
  &.col-10{ width: 10%; }
  &.binded{
    background-color: #e5e5ff;
  }
  &.reservated{
    background-color: #e5e5ff;
  }
}
.wp-table-row.bottom-border .wp-table-col{
  border-bottom: 1px solid #C5D0DD;
}
.wp-table-row:last-child .wp-table-col{
  border-bottom: 1px solid #C5D0DD;
}
