
.selected-category, .selected-product{
  min-width: 60px;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  margin-left: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.selected-category{
  border: 1px solid $color-orange;
}

/* payment state colors */
.checkout   { color: $color-primary;}
.processing { color: $color-orange; }
.pending    { color: $color-warning;}
.completed  { color: $color-green;  }
.void       { color: $color-gray;   }
.failed     { color: $color-danger; }
.closed     { color: $color-info;   }

.scroll-btns{
  width: 80px;
  height: 180px;

  position: fixed;
  right: 20px;
  bottom: 100px;
  padding: 10px;

  a{
    display: block;
    background-color: white;
    border: 1px solid #ccc;
    border-radius:14px;
    padding: 8px;
    width: 100%;
    height: 60px;
    cursor: pointer;
  }

  .scroll-top{
    .arrow{
      position: relative;
      top: 12px;
      left: 4px;
      height: 14px;
      width: 34px;
    }

    .arrow:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 34px;
      height: 14px;
      border-bottom: 14px solid gray;
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      z-index: 500;
    }
    .arrow:after{
      content: "";
      position: absolute;
      top: 6px;
      left: 3px;
      height: 11px;
      width: 28px;
      border-bottom: 11px solid #fff;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      z-index: 501;
    }
  }
  .scroll-bottom{
    margin-top: 30px;
    .arrow{
      position: relative;
      top: 17px;
      left: 4px;
      height: 14px;
      width: 34px;
    }
    .arrow:before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      width: 34px;
      height: 14px;
      border-top: 14px solid gray;
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      z-index: 500
    }
    .arrow:after{
      content: "";
      position: absolute;
      top: -3px;
      left: 3px;
      height: 11px;
      width: 28px;
      border-top: 11px solid #fff;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      z-index: 500
    }
  }
}
