<div id="address-index">
  <div class="address-list">
    <div class="address-item" ng-repeat="address in addresses" ng-class="{'active':  address.is_default}">
      <div class="address-info" ng-click="set_default(address)">
        <div class="personal-info">
          <div class="name">{{address.name}}</div>
          <div class="phone">{{address.phone}}</div>
        </div>
        <div class="address-content">
          {{address.content}}
          <i class="weui_icon_success_circle" ng-if="address.is_default"></i>
        </div>
      </div>
      <div class="op-info" ng-if="address.is_default">
        <div class="address-change" ng-click="editAddress(address)">
          修改地址
        </div>
        <div class="clear">
        </div>
      </div>
    </div>
    <div class="no-record" ng-if="addresses.length == 0">您还没有外卖地址信息</div>
  </div>

  <div class="footer-bar bg-red">
    <div ng-click="new_address()" class="new-address-btn">新增</div>
  </div>
</div>
