<div id="addresses-new">
  <div class="weui_cells weui_cells_access">

    <div class="weui_cell">
      <div class="weui_cell_hd"><label class="weui_label">姓名</label></div>
      <div class="weui_cell_bd weui_cell_primary">
          <input class="weui_input" type="text" placeholder="输入收货人姓名" ng-model="address.name">
      </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">手机</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="tel" pattern="[0-9]*" ng-model="address.phone" placeholder="请输入手机号">
        </div>
    </div>
    <div class="weui_cell" ng-if="is_need_validation()">
        <div class="weui_cell_hd"><label class="weui_label">验证码</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="tel" placeholder="请输入验证码" ng-model="address.sms_captcha_code">
        </div>
        <div class="weui_cell_ft">
            <a class="orange" ng-click="send_code()" ng-if="!is_code_sent">获取验证码</a>
            <a ng-if="is_code_sent" class="time gray">{{validation_time}}秒后重新获取</a>
        </div>
    </div>
  </div>
  <div class="weui_cells weui_cells_access">
      <a class="weui_cell">
        <div class="weui_cell_hd">
          <label class="weui_label">
            <span ng-if="shop.enable_foreign">地址</span>
            <span ng-if="!shop.enable_foreign">小区</span>
          </label>
        </div>
        <div class="weui_cell_bd weui_cell_primary" ng-click="show_input_address_modal()">
          {{address.building||'点击选择地址'}}
        </div>
        <div class="weui_cell_ft" ng-click="open_location(address)" ng-if="address.building">
          <i class="fa fa-map-marker"></i> 查看定位
        </div>
      </a>
      <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">门牌号</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text" placeholder="请输入门牌号" ng-model="address.room_no">
        </div>
      </div>

  </div>

  <div class="padding">
    <a ng-click="submit()" class="weui_btn weui_btn_primary">保存地址</a>
    <a ng-click="destroy(address)" class="weui_btn weui_btn_default" ng-if="address.id">删除此地址</a>
  </div>

  
</div>

<div id="address-input-modal" ng-if="input_address">
  <div class="bd">
    <div class="weui_search_bar" id="search_bar">
        <form class="weui_search_outer">
            <div class="weui_search_inner">
                <i class="weui_icon_search"></i>
                <input type="search" class="weui_search_input" ng-model="building" placeholder="输入小区/大厦/学校/地址" required=""  ng-change="loading_addresses(building)">
            </div>
        </form>
        <a ng-click="back_to_edit()" class="weui_search_cancel">取消</a>
    </div>
    <div class="weui_cells weui_cells_access search_show" id="search_show">
        <div class="weui_cell" ng-repeat="add in addresses" ng-click="select_address(add)">
            <div class="weui_cell_bd weui_cell_primary">
                <h4 class="weui_media_title">{{add.name}}</h4>
                <p class="weui_media_desc">{{add.address}}</p>
            </div>
        </div>
    </div>
  </div>
</div>

<div id="weixin_google_map" class="hidden"></div>