development:
  servers:
    - "http://172.168.1.101:8080"
  content_type: 'json'
  # content_type: 'msgpack'
  mock: true
test:
  servers:
    - "http://172.168.1.101:8080"
  content_type: 'json'
  mock: true
production:
  servers:
    - "http://172.168.1.101:8080"
  content_type: 'json'
  mock: false