octopus:
  replicated: true
  fully_replicated: false
  environments:
      - development
      - production
  development:
    slave:
      slave1:
        adapter: mysql2
        database: ddb_cs
        username: root
        password: root
        pool: 20
    statistics:
      stat1:
        adapter: mysql2
        database: ddb_cs
        username: root
        password: root
        pool: 20
  production:
    slave:
      slave1:
        adapter: mysql2
        database: ddb_cs
        username: root
        password: root
        pool: 20
    statistics:
      stat1:
        adapter: mysql2
        database: ddb_cs
        username: root
        password: root
        pool: 20