<div id="guest-queue-page">
  <div class="branch-section">
    <img class="avatar" ng-src="{{branch.rect_image}}"/>
    <div class="name">
      {{branch.name}}
    </div>
    <div class="address">
      {{branch.address}}
    </div>
  </div>

  <div class="my-guest-queue" ng-if="guest_queue.my_queue">
    <div class='guest-no red'>
        {{guest_queue.my_queue.guest_no}}
    </div>
    <div class="guest_num_at_front dark-gray">
      前面还有 <span class="red">{{guest_queue.my_queue.guest_num_at_front}}</span> 桌等候
    </div>
  </div>

  <div class="queue-setting-state-section">
    <div class="no-record" ng-if="guest_queue.queue_settings.length == 0">
        该门店还没有设置排号功能
    </div>

    <div class="table" ng-if="guest_queue.queue_settings.length > 0">
      <div class="queue-setting-title row">
        <div class="col">
          桌型
        </div>
        <div class="col">
          容纳
        </div>
        <div class="col">
          当前
        </div>
        <div class="col">
          等待
        </div>
      </div>

      <div class="queue-setting row" ng-repeat="queue_setting in guest_queue.queue_settings">
        <div class="col">{{queue_setting.name}}
        </div>
        <div class="col">{{queue_setting.guest_num_ge}}-{{queue_setting.guest_num_le}}人
        </div>
        <div class="col">{{queue_setting.current_queue_head}}
        </div>
        <div class="col orange">{{queue_setting.queueing_guests_num}}
        </div>
      </div>
    </div>
  </div>

  <div class="padding-10"></div>
  <div class="my-items" ng-if="guest_queue.my_queue">
    <div class="my-item-group" ng-repeat="group in item_group">
      <div class="my-item"  ng-click="item.click()" ng-repeat="item in group">
        <div ng-if="!!(item.label)" >
          <img ng-src="{{item.img}}"/>
          <div class="label">
            {{item.label}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="weui_cells" ng-if="!guest_queue.my_queue">
    <div class="weui_cell weui_cell_select weui_select_after">
        <div class="weui_cell_hd">
            用餐人数
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <select class="weui_select" name="select2" ng-model="new_guest_queue.guest_num" ng-options="num as num+'人' for num in [1,2,3,4,5,6,7,8,9,10, 11, 12, 13, 14, 15]">
              <option value="" disabled>选择用餐人数</option>
            </select>
        </div>
    </div>
    <div class="weui_cell">
      <div class="weui_cell_hd">
        手机号
      </div>
      <div class="weui_cell_bd weui_cell_primary">
        <input class="weui_input" type="tel" pattern="[0-9]*" placeholder="请输入手机号" ng-model="new_guest_queue.phone">
      </div>
    </div>

    <div class="weui_cell weui_cell_select weui_select_after" ng-if="branch.arranging_setting.mode == 'free_choice' && !guest_queue.queue_setting_id">
      <div class="weui_cell_hd">
          选择队列
      </div>
      <div class="weui_cell_bd weui_cell_primary">
            <select class="weui_select" name="select2" ng-options="queue_setting.id as queue_setting.name for queue_setting in queue_settings" ng-model="new_guest_queue.queue_setting_id">
              <option value="" disabled>选择排队的队列</option>
            </select>
        </div>
    </div>
  </div>
  <div class="weui_btn_area">
      <a class="weui_btn weui_btn_warn" ng-if="!guest_queue.my_queue" ng-click="submit()">取号</a>
  </div>
</div>
