<div id="exchange-code-show">
  <div class="scan-code-zone">
    <div class="scan-title" ng-if="exchange_code.exchanged_at">二维码已兑换</div>
    <div ng-if="!exchange_code.exchanged_at">
      <div class="scan-title">{{current_qrcode_hint}}</div>
      <!-- <img class="qrcode" ng-src="{{qrcode.url}}"  width="200px" ng-if="key == 'wechat'"/> -->
      <div class="qrcode" ng-bind-html="qrcode.qrcode_html | unsafe" ng-if="key == 'scan_gun'"></div>
      <div class="barcode" ng-bind-html="qrcode.barcode_html | unsafe"  ng-if="key == 'scan_gun'"></div>
      <div class="barcode-number">{{exchange_code.code}}</div>
    </div>
    <div class="scan-code-hint">
      <a class="gray" ng-click="reload()">刷新</a>
      <!-- <a class="red" ng-click="change_qrcode('wechat')" ng-if="!exchange_code.exchanged_at">
                    商家微信扫码
      </a> -->
      <!-- <a class="yellow" ng-click="change_qrcode('scan_gun')" ng-if="!exchange_code.exchanged_at">
                    商家扫码枪扫码
      </a> -->
    </div>

    <div class="btn-area">
      <a class="weui_btn weui_btn_primary" ng-show="can_exchange()" ng-click="exchange()">确认兑换</a>
    </div>
  </div>
  <div class="btn-area">
  </div>

</div>
