.bill-preview{
  white-space: pre-line;
  font-family: monospace,tahoma,arial,"Hiragino Sans GB",宋体,sans-serif;
  // font-family: monospace, "SimSun";
  // font-family: "Courier New";
  // font-family: "Courier";
  // font-family: "SimSun";
  font-size: 12px;
  .bill-b{
    display:inline-block;
    font-size: 22px;
    transform: translate(2px, 4px);
    // margin: 5px 0;
  }
  .bill-m{
    display:inline-block;
    transform: scale(1,2);
    margin: 5px 0;
  }
  .bill-c{
    text-align:center;
    width:210px;
    display:inline-block;
  }
  .bill-cm{
    text-align:center;
    width:210px;
    display:inline-block;
    transform: scale(1,2);
    margin: 5px 0;
  }
  .bill-cb{
    text-align:center;
    width:210px;
    display:inline-block;
    font-size: 22px;
    margin: 5px 0;
  }
}