<div id="promotion-show-page">
  <div class="padding">
    <div class="promotion-name">{{::promotion.name}}</div>
    <div class="promotion-image" ng-if="promotion.image">
      <img ng-src="{{promotion.image}}" alt="">
    </div>

    <div class="weui_cells">
      <div class="weui_cell">
          <div class="weui_cell_bd weui_cell_primary">
              <p>有效期</p>
          </div>
          <div class="weui_cell_ft">{{::promotion.starts_at|date:'yyyy-MM-dd'}} 至 {{::promotion.expires_at|date:'yyyy-MM-dd'}}</div>
      </div>
      <div class="weui_cell">
          <div class="weui_cell_bd weui_cell_primary">
              <p>名额限制</p>
          </div>
          <div class="weui_cell_ft">
            <div class="promotion-value" ng-show="promotion.usage_limit">{{::promotion.usage_limit}}</div>
            <div class="promotion-value" ng-hide="promotion.usage_limit">不限</div>
          </div>
      </div>
      <div class="weui_cell">
          <div class="weui_cell_bd weui_cell_primary">
              <p>适用商铺</p>
          </div>
          <div class="weui_cell_ft">
            <div class="promotion-value" ng-show="promotion.usable_in_all_branches">{{::promotion.active_branches_label}}</div>
            <div class="promotion-branches" ng-hide="promotion.usable_in_all_branches">
              <p ng-repeat="branch in promotion.active_branches">{{branch.name}}</p>
            </div>
          </div>
      </div>
      <div class="weui_cell">
          <div class="weui_cell_bd weui_cell_primary">
              <p>有效期</p>
          </div>
          <div class="weui_cell_ft">{{::promotion.starts_at|date:'yyyy-MM-dd'}} 至 {{::promotion.expires_at|date:'yyyy-MM-dd'}}</div>
      </div>
    </div>
  </div>
  <div class="padding-10"></div>
  <div class="padding" style="background-color: white;" ng-bind-html="promotion.description | unsafe"></div>

</div>