@import "tablesorter";
@import "backend/*";

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

img {
  max-width: 100%;
}

.block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

// input
.input-mini {
  width: 60px;
  max-width: 100%;
}

.input-small {
  width: 90px;
  max-width: 100%;
}

.input-medium {
  width: 150px;
  max-width: 100%;
}

.input-large {
  width: 210px;
  max-width: 100%;
}

.input-xlarge {
  width: 270px;
  max-width: 100%;
}

.input-xxlarge {
  width: 530px;
  max-width: 100%;
}

abbr[title]{
  border-bottom: none;
  color:red;
}

// display
.table-display {
  display: table;
  width: 100%;
}

.table {
  word-break:break-all;
}