.order-checkout-page {
  .location-section {
    background-color: $red;
    border-bottom: 1px solid $light-gray;
    display: -webkit-flex;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    padding: 10px;
    color: white;
    background-image: -moz-linear-gradient( 90deg, rgb(255,80,64) 0%, rgb(255,128,64) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,80,64) 0%, rgb(255,128,64) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,80,64) 0%, rgb(255,128,64) 100%);
    .icon {
      line-height: 54px;
      padding-right: 10px;

    }
    .location {
      flex: 1;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      display: block;
      .personal-info, address {
        padding: 5px 0;
      }
    }
  }

  .recharge-price {
    color: $orange;
    font-size: 18px;
  }

  .recharge-actions {
    padding: 10px;
  }

  .weui_btn {
    color: #C9C9C9;
  }

  .my-item.active {
      background: linear-gradient(-45deg, transparent 15px, white 0), linear-gradient(45deg, transparent 15px, $red 0);
      opacity: 1;
  }

  .cart-products {
    padding: 0 10px;
    .product-item {
      // height: 90px;
      padding: 10px 0 10px 80px;
      border-bottom: 1px solid $light-gray;
      img {
        width: 70px;
        margin-left: -80px;
        float: left;
      }
    }
    .cart-op {
      float: right;
    }
    .price {
      font-size: 16px;
      color: $dark-gray;
    }
    .original-amount {
      font-size: 12px;
      text-decoration: line-through;
    }
    .price-section {
      // line-height: 35px;
    }
    .name {
      font-size: 15px;
      font-weight: bold;
      line-height: 35px;
      color: $dark;
    }
    .product-item:last-child {
      border-bottom: 0;
    }
  }
}

#order-success-show-page {
  padding: 10px;
}

#cart-page {
  .cart-content {
    padding-bottom: 80px;
  }
  .cart-footer.page-footer{
    * {
      box-sizing: border-box;
    }
    box-sizing: border-box;
    height: 60px;
    .service-item.buy {
      float: right;
    }
    .service-item {
      width: 60px;
      float: left;
      display: inline-block;
      .service-btn {
        background-color: white;
        width: 50px;
        height: 50px;
        border-radius: 1000px;
        text-align: center;
        font-size: 15px;
        display: block;
        line-height: 50px;
        margin: 5px auto;
        border: 1px solid $light-gray;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
        -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
      }
      .service-btn.submit－btn {
        background-color: $red;
        color: white;
        &.disable{
          background-color: $light-gray;
        }
      }
    }
  }
}