#product-show-body {
  
  .cart-op{
    float: right;
    margin: 0 10px 0 0;
  }
  .price {
    height: 28px;
    line-height: 28px;
  }
  .button.no-quantity {
    background-color: red;
    color: white;
    border: 0px;
  }
  #product-detail-description {
    img {
      max-width: 100% !important;
      height: auto !important;
    }
  }
}
