.ddb-tab-bar.time-point-date-nav {
  padding: 0;
  .ddb-tab-item:last-child {
    .day, .date{
      border-right: 0;
    }
  }
  .ddb-tab-item {
    padding: 10px 0;
    border-right: 0;
    .day, .date{
      border-right: 1px solid $light-gray;
    }
  }
  .ddb-tab-item.active {
    border-bottom: 3px solid $red;
    color: $red;
  }
}

#time-points-index {
  padding-top: 72px;
  .notification-section {
    opacity: 0.9;
    width: 100%;
    background-color: #fff9df;
    padding: 8px 8px 8px 20px;
    font-size: 14px;
    box-sizing: border-box;
    line-height: 20px;
    z-index: 1999;
    marquee {
      display: block;
    }

    i {
      width: 20px;
      display: block;
      text-align:center;
      vertical-align: middle;
      line-height: 20px;
    }
    i.left {
      margin-left: -20px;
      float: left;
    }
  }

  .time-point.gray {
    border-color: $gray;
  }
  .time-point.red {
    border-color: $red;
  }
}