#tuan-version-show, #new-order-checkout-page {
  background-color: $bg_color;
  .tuan-intro-section {
    background-color: white;
    border-bottom: 1px solid $light-gray;
    padding: 10px;
    .name {
      font-size: 18px;
      line-height: 30px;
    }

    .price {
      .group-price-item {
        padding-right: 8px;
        font-weight: bold;
        font-size: 20px;
      }

      .norminal-price-item {
        font-size: 13px;
      }

      .norminal-price {
        text-decoration: line-through;
      }

      .group-price-item, .norminal-price-item {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        display: inline-block;
      }
    }
  }

  .buy-section {
    height: 44px;
    line-height: 44px;
    background-color: $orange;
    color: white;
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    .groupon-price {
      padding: 0 10px;
      font-size: 18px;  
      display: block;
      flex: 1;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
    }
    .buy-button {
      font-size: 16px;  
      padding: 0 10px;
    }
  }

}

#tuan-index-page {
  .groupon-price {
    font-size: 18px;
    line-height: 25px;
  }

  .price, .sales {
    font-size: 14px;
    line-height: 25px;
  }
}