.template-body{
  white-space: pre-line;
  font-family: monospace, "SimSun";
}
.template-preview{
  white-space: pre-line;
  font-family: monospace,tahoma,arial,"Hiragino Sans GB",宋体,sans-serif;
  // font-family: monospace, "SimSun";
  // font-family: "Courier New";
  // font-family: "Courier";
  // font-family: "SimSun";
  font-size: 12px;
  .template-b{
    display:inline-block;
    font-size: 22px;
    transform: translate(2px, 4px);
    // margin: 5px 0;
  }
  .template-m{
    display:inline-block;
    transform: scale(1,2);
    margin: 5px 0;
  }
  .template-d{
    display:inline-block;
    font-size: 22px;
    transform: scale(1,0.5);
    margin: -5px 0;
  }
  .template-c{
    text-align:center;
    width:210px;
    display:inline-block;
  }
  .template-cm{
    text-align:center;
    width:210px;
    display:inline-block;
    transform: scale(1,2);
    margin: 5px 0;
  }
  .template-cd{
    text-align:center;
    width:210px;
    display:inline-block;
    transform: scale(2,1);
    margin: 5px 0;
  }
  .template-cb{
    text-align:center;
    width:210px;
    display:inline-block;
    font-size: 22px;
    margin: 5px 0;
  }
  .template-qrcode{
    width: 200px;
    height: 200px;
  }
}