.backend-home-hot-link-icon{
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}
.backend-home-hot-link-icon{
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}