// Place all the styles related to the materials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// materials index
.materials{
  .add_material{
    width: 265px;
    height: 60px;
    border: 2px dashed #B8B8B8;
    line-height: 60px;
    margin-top:30px;
    margin-bottom: 20px;
    margin-left:20px;
    .plus{
      display: block;
      text-align: center;
      margin-top: 10px;
      color:#B8B8B8;
    }
    .op{
      display: none;
      margin-left: 60px;
      .oplink{
        display: block;
        float:left;
        margin-right: 20px;
      }
    }
    &:hover{
      border-color: #888888;
      .plus{
        display: none;
      }
      .op{
        display: block;
      }
    }
  }
  .show_materials{
    width: 900px;
    min-height: 500px;
    padding:15px;
    @import 'material'
  }
}

.material-operation{
  width:80%;
  height:auto;
  margin-top: 25px;
  .area-up{
    width:270px;
    height:auto;
  }
  .area-down{
    height:auto;
    .material-left{
      width:270px;
      padding-bottom:30px;
      float: left;
      @import 'material'
    }
    .form-right{
      position: relative;
      width:560px;
      min-height: 700px;
      height: auto;
      border: 1px solid #ccc;
      margin-left: 40px;
      float:left;
      padding: 20px;
      padding-bottom:60px;
      background-color: #f4f5f9;

      .form-horizontal{
        .form-group{
          margin-left: 0px;
          margin-right: 0px;
          textarea{
            height:150px;
          }
          select{
            width:30%;
          }
        }
      }
      &:before{
        z-index: 10;
        position: absolute;
        top: 31px;
        left: -18px;
        width: 0;
        height: 0;
        content: '';
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-right: 18px solid #f4f5f9;
      }
      &:after{
        z-index: 9;
        position: absolute;
        top: 30px;
        left: -20px;
        width: 0;
        height: 0;
        content: '';
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 20px solid #ddd;
      }
    }
  }
}
.bootbox-body{
  .material{
    float:none;
    .footer{
      display:none;
    }
  }
}
