

.original-price {
  color: $gray-light;
  font-size: 12px;
  text-decoration: line-through;
}

.change-price {
  color: $color-red;
  font-size: 12px;
  text-decoration: line-through;
}

.original-amount {
  font-size: 12px;
  text-decoration: line-through;
}
