.product-image{
  display: inline-block;
  .content{
    display: none;
    cursor: pointer;
  }
}

.product-image:hover{
  .content{
    display: block;
    position: absolute;
    margin-left: 10px;
    margin-top: 0px;
    z-index: 1px;
  }
}
