.permission-actions{
  margin-top: 5px;
}

.permission-target-label, .permission-action-input, .permission-action-label{
  cursor: pointer;
}

.notification-actions{
  margin-top: 5px;
}

.notification-event-label, .notification-action-input, .notification-action-label{
  cursor: pointer;
}