.modules-index-page {

  .module-index {
    width: 100%;
  }
  .module-status {
    display: inline-block;
    width: 60px;
  }
  .module-item {
    a {
      color: #333;    
    }
    display: inline-block;
    float: left;
    width: 48%;
    margin: 0 2% 10px 0 ;
    height: 102px;
    border: 1px solid #ccc;
    padding-left: 100px;
    padding-right: 80px;
    .module-icon {
      width: 100px;
      margin-left: -100px;
      text-align: center;
      height: 100px;
      line-height: 100px;
      font-size: 60px;
      background-color: #72c02c;
      color: white;
      float: left;
    }
    .module-desc {
      padding: 10px;
      .name {
        font-weight: bold;
      }
      .expired-at {
        
      }
    }
    .module-status {
      .check-status.red {
        color: #e74c3c;
        opacity: 1;
      }
      .check-status {
        font-size: 40px;
        height: 50px;
        line-height: 50px;
        color: #72c02c;
        opacity: 0.5;
      }
      padding: 10px 0;
      width: 80px;
      margin-right: -80px;
      height: 100px;
      line-height: 1.5em;
      vertical-align: middle;
      float: right;
      text-align: center;
    }
  }
}