.table-state-tables {
  padding: 10px;
  .state-table {
    margin: 0 20px 20px 0;
    font-size: 20px;
    line-height: 30px;
    width: 140px;
    float: left;
    .round {
      display: table;
      margin: 20px;
      width: 100px;
      height: 100px;
      border-radius: 1000px;
    }
    .round.idle {
      background-color: $gray;
      color: white;
    }
    .round.opened {
      background-color: $color-red;
      color: white;
    }
    .round.ordered {
      background-color: $color-primary;
      color: white;
    }
    .round.paid {
      background-color: $color-success;
      color: white;
    }
    .name {
      background-color: $gray-lightest;
      color: $gray;
      font-size: 16px;
      line-height: 40px;
      text-align:center;
    }
    .state {
      height: 100px;
      width: 100%;
      display: table-cell;
      text-align:center;
      vertical-align: middle;
    }
  }
}