<div id="new-order-checkout-section">
  <div common-header></div>

  <div class="ddb-nav-footer orders-common-footer">
    <div class="button btn-block checkout-button" ng-click="submit()">立即支付</div>
  </div>

  <div id='new-reservation-order-form' class="main-view">
    <div class="space-8"></div>
    <div class="section">
      <div class="list-item">
        <span class="table-zone">充值选项</span>
      </div>
      <div class="list-item">
        <div class="prepayment-type" ng-class="{'active': is_active(recharge_product)}" ng-click="change_recharge_product(recharge_product)" ng-repeat="recharge_product in recharge_products">
          <div class="price">{{::recharge_product.price|currency:currency}}</div>
          <div class="label">{{::recharge_product.name}}</div>
          <div class="radio"></div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="list-item ddb-form-control">
        <div class="ddb-form-label">支付方式</div>
        <div class="input-field">
          <span class="button" ng-repeat="pay_method in pay_methods" ng-class="{'active': current_pay_method == pay_method}" ng-click="change_pay_method(pay_method)">{{pay_method.label}}</span>
        </div>
      </div>
    </div>

    <div class="space-8"></div>
  </div>
</div>
