<div id="new-order-checkout-page" class="order-checkout-page">
  <div id='new-order-form' class="main-view">
    <div class="weui_cells weui_cells_form" ng-if="input_pay_method">
      <div class="weui_cell weui_cell_switch">
          <div class="weui_cell_hd">
              是否使用优惠券
          </div>
          <div class="weui_cell_primary weui_cell_ft">
              <input class="weui_switch" type="checkbox" ng-model="use_coupon" ng-change="use_coupon && load_coupons();">
          </div>
      </div>
      <div class="weui_cell weui_cell_select weui_select_after" ng-if="use_coupon && coupons_loaded && coupons.length > 0">
          <div class="weui_cell_hd">
              可用优惠券
          </div>
          <div class="weui_cell_bd weui_cell_primary">
              <select class="weui_select" ng-model="self.current_coupon" ng-options="get_coupon_label(coupon) for coupon in coupons"
                  ng-change="apply_coupon()" required="false">
                  <option value="" disabled selected> 选择优惠券</option>
              </select>
          </div>
      </div>
    </div>
     <div class="weui_cells">
      <div class="weui_cells_title" ng-if="input_pay_method">当前可用积分 {{::user.credits_wallet}}</div>
      <div class="weui_cells weui_cells_form" ng-if="input_pay_method && pay_method_setting.credits_deduction">
      <div class="weui_cell weui_cell_switch">
        <div class="weui_cell_hd weui_cell_primary">
          启用积分抵扣
        </div>
        <div class="weui_cell_ft">
          <input class="weui_switch" type="checkbox" ng-model="use_credits_deduction" ng-change="changeCreditsDeduction(use_credits_deduction)">
        </div>
      </div>

      <div class="weui_cell" ng-if="use_credits_deduction">
        <div class="weui_cell_bd">
          使用积分数量
        </div>
        <div class="weui_cell_bd weui_cell_primary">
          <input type="number" ng-model="deduction.credits" class="weui_input text-right">
        </div>
      </div>
    </div>
    <div class="weui_cells_title" ng-if="input_pay_method">
      选择支付方式
    </div>

    <div class="my-items" ng-if="input_pay_method">
      <div class="my-item-group" ng-repeat="item_group in item_groups">
        <div class="my-item opacity" ng-class="{'active': current_pay_method == pay_method}" ng-repeat="pay_method in item_group" ng-click="change_pay_method(pay_method)">
          <div ng-if="!!pay_method.value">
            <img ng-src="{{pay_method.img}}"/>
            <div class="label">
              {{pay_method.label}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="recharge-actions">
      <div class="weui_btn" ng-class="{'bg-red': can_submit(), 'weui_btn_disabled': !can_submit()}" ng-click="submit()">
        <span ng-show="input_pay_method">去支付</span>
      </div>
    </div>

  </div>
</div>
