<div id="cart-page">
  <div class="cart-footer page-footer">
    <div class="service-item buy">
      <a ng-click="submit()" class="submit－btn service-btn" ng-class="{'disable': !can_submit() }">确认</a>
    </div>

    <div class="clear"></div>
  </div>
  <div class="cart-content">
    <div class="weui_cells">
      <div class="weui_cell">
        <div class="weui_cell_hd">
          加菜确认
        </div>
      </div>
    </div>

    <div class="weui_cells">
      <div class="weui_cell">
        <div class="weui_cell_hd">
          加菜数量 <span class="orange">共{{cart.item_count}}份</span> 总计 <span class="orange">{{cart.total|currency:currency }}</span>
        </div>
      </div>
      <div class="weui_cell" ng-repeat="line_item in cart.line_items">
        <div class="weui_cell_bd weui_cell_primary">
            <p>
            {{line_item.name}} {{line_item.note}}
            <span class="price orange">{{line_item.price|currency:currency}} </span>
            </p>
        </div>
        <div class="weui_cell_ft">
          <span class="button minus-button active" ng-click="remove_itemable(line_item)"><i class="fa fa-minus"></i></span>
          <span class="quantity-button" ng-show="line_item.quantity>0">{{line_item.quantity}}</span>
          <span class="button plus-button active" ng-click="add_itemable(line_item)"><i class="fa fa-plus"></i></span>
        </div>
      </div>
    </div>
    <div class="weui_cells">
      <div class="weui_cell">
        <div class="weui_cell_hd">
          已点菜清单 <span class="orange">共{{order.line_items.length}}份</span> 总计 <span class="orange">{{order.total|currency:currency }}</span>
        </div>
      </div>
      <div class="weui_cell" ng-repeat="line_item in order.all_line_items">
        <div class="weui_cell_bd weui_cell_primary">
            <p>
            {{line_item.name_with_note}}
            <span class="price orange">{{line_item.price|currency:currency}} </span>
            </p>
        </div>
        <div class="weui_cell_ft">
          <span class="quantity-button" ng-show="line_item.quantity>0">{{line_item.quantity}}</span>
        </div>
      </div>
    </div>
  </div>
</div>