<div class="ddb-secondary-nav-header ddb-tab-bar time-point-date-nav" ng-if="enable">
  <div class="ddb-tab-item" ng-repeat="date in reservation_dates" ng-class="{ 'active':active_date == date}" ng-show="show_date(date)" ng-click="select_date(date);">
    <div class="day">
      {{::date.first_label}}
    </div>
    <div class="date">
      {{::date.second_label}}
    </div>
  </div>
</div>

<!-- <div class="ddb-thirdary-nav-header ddb-tab-bar">
    <div class="ddb-tab-item">
      时间不限 <i class="fa fa-caret-down"></i>
    </div>
    <div class="ddb-tab-item">
      人数不限 <i class="fa fa-caret-down"></i>
    </div>
</div> -->

<div id="time-points-index">
  <div class="notification-section">
      <i class="fa fa-volume-up red left"></i>
      <marquee behavior="alternate" scrollamount="1" scrolldelay="1">&nbsp;20分钟未到店，商家有权取消本次预订，请安排好您的时间&nbsp;</marquee>
  </div>
  <div class="main-view">
      <div class="weui_cells" ng-if="table_zones.length == 0">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>商家暂未设置可预定的桌台信息</p>
            </div>
        </div>
    </div>

    <div class="weui_cells" ng-repeat="table_zone in table_zones" ng-if="enable">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>{{table_zone.name}}</p>
            </div>
            <div class="weui_cell_ft">
              {{table_zone.min_reservation_price|currency:currency}}起订
            </div>
        </div>
        <div class="weui_cell">
          <div class="weui_cell_bd weui_cell_primary time-points">
            <span ng-repeat="time_point in table_zone.reservation_time_points" class="button time-point" ng-class="{'gray': is_sale_out(time_point), 'red': !is_sale_out(time_point)}" ng-click="go_new_reservation_order(time_point)">
              {{::time_point.time_point}}
            </span>
          </div>
          <div class="weui_cell_ft" ng-if="table_zone.reservation_time_points.length == 0">
            该桌台不支持预定
          </div>
        </div>
    </div>
  </div>
</div>
