<div id="new-order-checkout-page" class="order-checkout-page">
  <div id='new-reservation-order-form' class="main-view">
    <div class="weui_cells_title" ng-show="prepayment_type == 'prepay_for_order'">
      预付 {{ cart.table_zone.reservation_price_percent}}% {{ prepay_total() * cart.table_zone.reservation_price_percent / 100|currency:currency }}
    </div>
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>门店</p>
            </div>
            <div class="weui_cell_ft">{{::branch.name}}</div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>预定桌台</p>
            </div>
            <div class="weui_cell_ft orange">{{ ::cart.table_zone.name }}</div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>预定时间</p>
            </div>
            <div class="weui_cell_ft orange">{{ ::cart.reservation_date_str }} {{ ::cart.reservation_time_point_str}}</div>
        </div>
    </div>

    <div class="weui_cells_title">预订类型</div>

    <div class="weui_cells weui_cells_radio">
      <label class="weui_cell weui_check_label" for="x11" ng-click="prepayment_type = 'prepay_for_table'" ng-show="show_for_table">
          <div class="weui_cell_bd weui_cell_primary">
              <p>只订座</p>
          </div>
          <div class="weui_cell_ft">
            预付{{::cart.table_zone.reservation_price|currency:currency}}
          </div>
          <div class="weui_cell_ft">
              <input type="radio" class="weui_check" name="radio1" id="x11" ng-checked="prepayment_type == 'prepay_for_table'">
              <span class="weui_icon_checked"></span>
          </div>
      </label>
      <label class="weui_cell weui_check_label" for="x12" ng-click="prepayment_type = 'prepay_for_order'; go_to_reservation_products()" ng-show="show_for_order">

          <div class="weui_cell_bd weui_cell_primary">
              <p>提前下单</p>
          </div>
          <div class="weui_cell_ft">
            {{::cart.table_zone.min_reservation_price|currency:currency}} 起订
          </div>
          <div class="weui_cell_ft">
              <input type="radio" name="radio1" class="weui_check" id="x12" ng-checked="prepayment_type == 'prepay_for_order'">
              <span class="weui_icon_checked"></span>
          </div>
      </label>
    </div>

    <div class="weui_cells_title">
      基本信息
    </div>
    <div class="weui_cells">
      <div class="weui_cell">
          <div class="weui_cell_hd"><label class="weui_label">姓名</label></div>
          <div class="weui_cell_bd weui_cell_primary">
              <input class="weui_input" type="text" placeholder="输入您的姓名" ng-model="user.reservation_name">
          </div>
      </div>
      <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">电话</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="tel" placeholder="输入您的联系电话" ng-model="user.reservation_phone">
            </div>
        </div>
      <div class="weui_cell weui_cell_select weui_select_after">
            <div class="weui_cell_hd">
                性别
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <select class="weui_select" name="select2" ng-model="user.reservation_gender">
                    <option value="" disabled>请选择性别</option>
                    <option value="male">先生</option>
                    <option value="female">女士</option>
                </select>
            </div>
        </div>
    </div>
    <div ng-show="prepayment_type == 'prepay_for_order'">
      <div ng-include src="partial('cart/orders/cart-adjustments')"></div>
    </div>

    <div ng-include src="partial('cart/orders/new-common-form')"></div>

    <div class="recharge-actions">
      <div class="weui_btn" ng-class="{'bg-red': errors().length == 0, 'weui_btn_disabled': errors().length >0}" ng-click="submit()">
         确认提交 {{prepay_total()|currency:currency}}
      </div>
    </div>
  </div>
</div>
