<div id="tuan-version-show">
  <div class="page-footer">
    <div class="buy-section">
    <div class="groupon-price">{{::tuan.groupon_price|currency:shop.currency}}</div>
      <div class="buy-button bg-red" ng-if="!tuan.sellable">已售罄</div>
      <div class="buy-button bg-red" ng-click="add_tuan()" ng-show="tuan.sellable">立即抢购</div>
    </div>
  </div>
  <div class="main-view">
    <ng-swiper-slider sliders="tuan.coupon_photos"></ng-swiper-slider>
    <div class="tuan-intro-section">
      <div class="name">
        {{::tuan.name}}
      </div>
      <div class="price">
        <div class="group-price-item red">
          <span class="groupon-price">{{::tuan.groupon_price|currency:shop.currency}}</span>
        </div>
        <div class="norminal-price-item gray">
          门市价
          <span class="norminal-price">{{::tuan.norminal_value|currency:shop.currency}}</span>
        </div>
      </div>
    </div>

    <div class="weui_cells">

      <a class="weui_cell weui_cells_access">
        <div class="weui_cell_bd weui_cell_primary">适用门店：{{::tuan.branch_names}}</div>
        <i class="weui_cell_ft"></i>
      </a>
      <a class="weui_cell weui_cells_access">
        <div class="weui_cell_bd weui_cell_primary">产品描述 : {{tuan.description}}</div>
        <i class="weui_cell_ft"></i>
      </a>
    </div>

    <div class="weui_cells">
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          购买须知
        </div>
      </div>
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary dark-gray">
          有效期：{{::tuan.usable_starts_at|date:'yyyy-MM-dd'}} - {{::tuan.usable_expires_at|date:'yyyy-MM-dd'}}
        </div>
      </div>
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary dark-gray">
          该券 {{tuan.support_refund ? '' : '不'}}支持退款
        </div>
      </div>
      <div class="weui_cell" ng-if="tuan.support_refund">
        <div class="weui_cell_bd weui_cell_primary dark-gray">
          购买后， {{tuan.refundable_days_after_send}} 天内支持退款
        </div>
      </div>
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary dark-gray">
          适用门店：{{::tuan.branch_names}}
        </div>
      </div>
    </div>
    <div class="padding-10"></div>
  </div>
</div>
