.coupon-photos{
  overflow: hidden;
}
.coupon-photo{
  float: left;
  width: 240px;
  height: 120px;
  position: relative;
  .mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 120px;
    opacity: 0.7;
    background-color: #333;
    display: none;
  }
  &.selected > .mask{
    display: block;
  }
}