<div id="new-order-checkout-page" class="order-checkout-page vip-section main-view">
  <div vip-card ng-user="user" ng-shop="current_shop"></div>

  <div class="weui_cells">
    <div class="weui_cell">
      <div class="weui_cell_primary">
        账户余额
      </div>
      <div class="weui_cell_ft">
        {{user.card_wallet | currency: shop.currency}}
      </div>
    </div>
  </div>

  <div class="weui_cells_title">
    选择充值的产品
  </div>
  <div class="weui_cells" ng-if="recharge_products.length == 0">
    <div class="weui_cell">
      <div class="weui_cell_primary">
        商家尚未设置会员储值产品
      </div>
    </div>
  </div>
  <div class="weui_cells weui_cells_radio" ng-if="recharge_products.length > 0">
      <label class="weui_cell weui_check_label" for="x{{recharge_product.id}}" ng-repeat="recharge_product in recharge_products" ng-click="change_recharge_product(recharge_product)">
          <div class="weui_cell_bd weui_cell_primary">
            <div class="recharge-price">{{::recharge_product.price|currency:shop.currency}}</div>
          </div>
          <div class="weui_cell_ft">
            {{::recharge_product.name}}
          </div>
          <div class="weui_cell_ft">
              <input type="radio" name="radio1" class="weui_check" id="x{{recharge_product.id}}" ng-checked="is_active(recharge_product)">
              <span class="weui_icon_checked"></span>
          </div>
      </label>
  </div>

  <div class="weui_cells_title" ng-if="recharge_products.length > 0">
    选择支付方式
  </div>
  <div class="my-items" ng-if="recharge_products.length > 0">
    <div class="my-item-group" ng-repeat="item_group in item_groups">
      <div class="my-item opacity" ng-class="{'active': current_pay_method == pay_method}" ng-repeat="pay_method in item_group" ng-click="change_pay_method(pay_method)">
        <div ng-if="!!pay_method.value">
          <img ng-src="{{pay_method.img}}"/>
          <div class="label">
            {{pay_method.label}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="recharge-actions">
    <div class="weui_btn" ng-class="{'bg-red': errors().length == 0, 'weui_btn_disabled': errors().length >0}" ng-click="submit()">
      立即支付
    </div>
  </div>

</div>
