.product-choose-cell{
  .choose-ways-index{

  }
  .product-category-index{
    height: 100%;
    overflow: hidden;
    .category-wapper{
      .category-sidebar{
        float: left;
        height: 100%;
        @include tablet{ width: 130px; }
        @include desktop{ width: 170px; }
        border: $border-default;
        .wp-btn-sm{  margin: 2px; }
      }
      .products-wapper{
        @include tablet{ margin-left: 130px; }
        @include desktop{ margin-left: 170px; }
        .sub-category-bar{
          .wp-btn-sm{ margin: 2px; }
          overflow: hidden;
          border: $border-default;
        }
        .products{
          .wp-btn-md{
            margin: 2px;
            @include desktop{ width: 150px; }
          }
        }
      }
    }
  }
  .combo-index{
    .combos-wapper{
      overflow: hidden;
    }
  }
}

/* item note */
.item-notes{
  width: 100%;
  min-height: 450px;
  height: auto;

  .note-list{
    width: 20%;
    float: left;
    .delete-btn{
      background-color: $color-pink;
      color: white;
      cursor: pointer;
    }
  }
  .note-btn{
    width: 58%;
    margin-left: 2px;
    max-height: 400px;
    overflow: scroll;
    float: left;
  }
  .note-tags{
    width: 20%;
    margin-left: 2px;
    float: left;
    border: solid 1px #ccc;
  }
}


