$color-table-idle:    #b3b4b6;
$color-table-opened:  #fa7072;
$color-table-ordered: #71d1fd;
$color-table-paid:    #7dd400;
$color-table-active:  #f34b3f;
$color-table-check-outing: #4C5D65;
.table-index{
  overflow: hidden;
}
.wp-table-btn{
  float: left;
  margin: 3px;
  width: 120px;
  height: 70px;
  border-radius: 0px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .45);
  overflow: hidden;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  //background-color: $color-theme;
  .table-name-wrapper{
    padding-left: 5px;
    height: 35px;
    overflow: hidden;
    color: #fff;
    font-size: 20px;
    position: relative;
    .from-wechat{
      float: right;
      display: block;
      background: url(/images/ddt/wechat.png) no-repeat ;
      background-size: cover;
      width: 25px;
      height: 20px;
    }
    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }
    .table-name{
      max-width: 90%;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .table-state{
    padding-left: 5px;
    padding-right:5px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    .amount {
      float: right;
    }
  }

  &.table-active, &:hover{
    opacity: 1;
  }
  &.idle{
    background-color: $color-table-idle;
  }
  &.opened{
    background-color: $color-table-opened;
  }
  &.ordered{
    background-color: $color-table-ordered;
  }
  &.check_outing{
    background-color: $color-table-check-outing;
  }
  &.paid{
    background-color: $color-table-paid;
  }
}
