@import "common/variable";
@import "common/mixins";
@import "common/base";
@import "jquery.minicolors";
@import "css/ace-fonts";
@import "css/ace-rtl.min";
@import "css/ace-skins.min";
@import "css/ace.min";
@import "css/jquery-ui-1.10.3.full.min";
@import "tablesorter";
@import "select2";
@import "bootstrap-datetimepicker";
@import "jquery.fileupload-ui";
@import "backend/*";

$nprogress-color: #F8E631;
$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20.0%) !default; // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 46.7%) !default; // #777
$gray-lighter:           lighten(#000, 85.7%) !default;
$gray-lightest:          lighten(#000, 93.5%) !default; // #eee

@import 'nprogress';
@import 'nprogress-bootstrap';
.space {clear: both;}
.model-show {
  box-sizing: border-box;
  border-bottom: 1px solid $gray-lightest;
  margin-bottom: 10px;
  >p, >.content, >.advanced-options p {
    display: block;
    margin-right: 10%;
    width: 30%;
    float: left;
    padding: 10px 20px;
    margin-bottom: 0;
    color: $gray;
    border-top: 1px solid $gray-lightest;
    > b {
      font-weight: normal;
      color: $gray-light;
    }
  }
}

body, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Microsoft Yahei', '微软雅黑' !important;
}

abbr[title]{
  border-bottom: none;
  color:red;
}

table{
  word-wrap: break-word;
  word-break: break-all;
}

.navbar-brand{
  height: 45px;
}

.image_preview img{
  margin-top: 5px;
  max-width: 400px;
  max-height: 400px;
}
.login-layout .widget-box {
  background-color: #CCCCCC;
}
.login-layout {
  background-color: #ffffff;
}

.page-footer {
  height: 80px;
  text-align: center;
  line-height: 80px;
}

.table-display {
  display: table;
  width: 100%;
}

// fix ace conflict for datetimepicker
.bootstrap-datetimepicker-widget{
  .btn{
    border-color: #FFF;
    background-color: #FFF!important;
    color: #428bca!important;
    &:hover{
      color: #333333!important;
    }
    &.btn-primary{
      color: #ffffff!important;
      background-color: #3276b1!important;
      border-radius: 4px!important;
      border: none;
    }
  }
  .timepicker-hour, .timepicker-minute, .timepicker-second{
    width: 100%;
  }
}

// fix ace conflict for select2
.select2-container{
  padding: 0;
  border: none;
  .select2-search-choice-close{
    background-image:none;
  }
}

.dropdown-preview {
  margin:0 5px;
  display:inline-block;
}
.dropdown-preview  > .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 5px;
}

.lastest-notification{
  padding-left: 100px;
  .notification-label {
    font-weight: bold;
    color: $gray;
    margin-left: -100px;
    float: left;
    width: 100px;
    text-align: center;
  }
  #latest-news-of-ddt {
    overflow: hidden;
    height: 20px;
    margin-right: 20px;
    a{
      margin: 2px 10px;
    }
  }
}

.advanced-options{
  .advanced-options-open, .advanced-options-close{
    float: left;
  }
}

.table-center{
  th, td{ text-align: center; }
}
.ddb-select2{
  height: auto;
}

@mixin side_info(){
  .qq-icon{
    cursor: pointer;
    display: inline-block;
    width: 42px;
    height: 38px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    color: #438eb9;
    line-height: 36px;
    font-size: 20px;
    padding-left: 8px;
    &:hover{
      background-color: #e5e5e5;
    }
  }
  .detail-info{
    width: 200px;
    height: 130px;
    border: 1px solid #ddd;
    transition: all 0.4s;
    overflow: hidden;
    &.disabled{
      opacity: 0;
      width: 0px;
      height: 0px;
    }
    .info-header{
      height: 38px;
      background-color: #445fb0;
      padding-left: 10px;
      color: #fff;
      line-height: 38px;
      font-size: 16px;
      .hide-info{
        float: right;
        margin-right: 14px;
        font-size: 12px;
        opacity: .8;
        cursor: pointer;
      }
    }
    .info-content{
      background-color: #fff;
      .info-item{
        height: 30px;
        padding: 5px;
        .info-label{
          height: 30px;
          display: inline-block;
          width: 40px;
          text-align: right;
        }
        .info-value{
          height: 30px;
          display: inline-block;
          text-align: left;
        }
      }
    }
  }
}

.sale-info{
  position: fixed;
  right: -10px;
  top: 150px;
  z-index: 1000;
  @include side_info();
}
.agent-info{
  position: fixed;
  right: -10px;
  top: 190px;
  z-index: 1000;
  @include side_info();
}

.full-screen-chart{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  .widget-box{
    height: 100%;
  }
  .dashboard-chart-container{
    height: 100%;
  }
}
.dashboard-chart-container{
  height: 250px;
}


.form-horizontal .radio{
  float: left;
  margin: -4px 5px 0 5px;
}
