<div class="ddb-nav-pane" ng-show="selected">
    <filter-nav-sub-pane class="sub-pane prev-sub-pane" filter="parent" ng-if="multiLevel || (parent && parent.hasSub)" pickup-filter="pickupFilter"></filter-nav-sub-pane>
    <filter-nav-sub-pane class="sub-pane cur-sub-pane" filter="current" ng-if="multiLevel || (current && current.hasSub)" pickup-filter="pickupFilter"></filter-nav-sub-pane>
    <filter-nav-sub-pane class="sub-pane next-sub-pane" filter="sub" ng-if="multiLevel || (sub && sub.hasSub)" pickup-filter="pickupFilter"></filter-nav-sub-pane>
</div>