<div>
    <ul ng-if="filter.hasSub">
        <li class="sub-item" ng-show="filter.allow_default" ng-click="pickup(filter)" ng-class="{'active': (!pickupFilter) || (pickupFilter == filter)}">
            <div class="name">
              {{filter.label}}
              <i class='fa fa-check-circle pull-right' ng-if="pickupFilter == filter"></i>
            </div>
        </li>
        <li class='sub-item' ng-repeat="item in filter.collection" ng-click="item.hasSub ? selectItem(item) : pickup(item)"  ng-class="{'active': pickupFilter == item}">
            <div class="name">
              {{item.label}}
              <i class="fa fa-angle-double-right" ng-if="item.hasSub"></i>
              <i class='fa fa-check-circle pull-right' ng-if=" (pickupFilter == item) && !item.hasSub"></i>
            </div>
        </li>
    </ul>
</div>
