<div class="ddb-secondary-nav-header">
    <div class="ddb-tab-bar">
        <div class='ddb-tab-item' ng-repeat="pane in panes" ng-class="{active:pane.selected}" ng-click="toggle(pane)">
            <a href="javascript:;">{{pane.pickupFilter.label}}</a>
            <i class="fa fa-caret-down"></i>
        </div>
    </div>
    <div class="ddb-box filter-nav-box" ng-show="mask" ng-click="select()">
        <div class="box-mask"></div>
    </div>
    <div class="filter-nav-menu" ng-transclude></div>
</div>
