<div id="sharable-coupon-page" class="main-view">
  <div class="hongbao">
    <div class="title" ng-if="!coupon_received">{{coupon_received_reason.join(" ")||sharable_coupon.coupon_version_name + '红包'}}</div>
    <div class="description" ng-if="coupon_received">恭喜您抢到了一个{{sharable_coupon.coupon_version_name}}优惠券红包，该优惠券可在本公众号内的"我的"——"券包"——"优惠券"中找到，可直接用于本公众号内进行购物抵扣
    </div>
    <div class="sharable-coupon-btn" ng-click="subscribe_me()">
      关注我们
    </div>
    <a ng-click="receive()" class="sharable-coupon-received-btn" ng-if="!coupon_received" ng-class="{'disabled': is_submiting}">马上抢</a>
    <a  ng-if="coupon_received" class="sharable-coupon-received-btn" ng-click="go_coupon()">查看我的优惠券</a>
  </div>
</div>
