#coupons-index, #coupon-show {

  .coupon-item {
    background-color: white;
    margin: 10px 10px 0 10px;
    border: 1px solid $light-gray;
    border-radius: 8px;
  }

  .coupon-item.coupon-red .coupon-inner{
    background-color: $red;
    color: white;
  }

  .coupon-item.coupon-yellow .coupon-inner{
    background-color: $yellow;
    color: white;
  }

  .coupon-item.coupon-green .coupon-inner{
    background-color: $green;
    color: white;
  }

  .coupon-item.coupon-blue .coupon-inner{
    background-color: $blue;
    color: white;
  }

  .coupon-item.coupon-orange .coupon-inner{
    background-color: $orange;
    color: white;
  }

  .coupon-item:last-child {
    margin-bottom: 10px;
  }

  .coupon-inner {
    background-color: $gray;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
    color: $dark;
    text-align: center;
    background-image:-webkit-gradient(linear,33.33% 0,16.67% 100%,
                                        from(transparent),
                                        color-stop(.5,transparent),
                                        color-stop(.5, white),
                                        to(white)    
                    ),
                    -webkit-gradient(linear,66.67% 0,83.33% 100%,
                                        from(transparent),
                                        color-stop(.5,transparent),
                                        color-stop(.5,white),
                                        to(white)                                            
                    );
    background-image:-moz-linear-gradient(33.33% 0 -60deg,
                                transparent,
                                transparent 50%,
                                white 50%,
                                white                                            
                    ),-moz-linear-gradient(66.67% 0 -120deg,
                                transparent,
                                transparent 50%,
                                white 50%,
                                white                                            
                    );                                
    background-size:12px 3px;
    background-repeat:repeat-x;
    background-position:0 100%;

    .name {
      line-height: 30px;
      font-size: 20px;
      .expired {
        font-size: 14px;
      }
    }
    .coupon-left {
      width: 38.2%;
      float: left;
      display: inline-block;
    }

    .norminal-value, .usable-condition {
      font-size: 10px;
      line-height: 1.5em;
    }

    .coupon-right {
      width: 61.8%;
      float: left;
      font-size: 10px;
    }
  }
}

#coupon-show {
  padding: 10px;
  .coupon-item {
    margin: 0px !important;
  }

  .instruction, .description {
    padding: 5px 10px;
  }

  .instruction {
    border-bottom: 1px dashed $light-gray;
  }

  .label {
    font-size: 14px;
    line-height: 1.5em;
    color: $orange;
  }

  .detail {
    color: $dark-gray;
    font-size: 14px;
  }

  .exchange-part {
    padding: 20px 0;
    border-bottom: 1px dashed $light-gray;
  }

  .exchange-button {
    margin: auto;
    color: white;
    width: 120px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
  }

  .exchange-button.active {
    background-color: $red;
  }
  .exchange-button.inactive {
    background-color: $gray;
  }
}

#coupons-index{

  .detail-button {
    background-color: white;
    text-align: center;
    color: $orange;
    font-size: 14px;
    line-height: 1.5em;
    padding: 5px;
  }
}

.buy-section {
  height: 44px;
  line-height: 44px;
  background-color: $orange;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  .groupon-price {
    padding: 0 10px;
    font-size: 18px;  
    flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
  }
  .buy-button {
    font-size: 16px;  
    padding: 0 10px;
  }
}

#sharable-coupons-page {
  .title {
    font-size: 14px;
    color: $dark;
  }

  .desc {
    color: $dark-gray;
    font-size: 13px;
  }
}

#sharable-coupon-page { 
  color: white;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  background: url('/images/ddt/coupons/background.png') center center no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;

  .hongbao {
    width: 277px;
    height: 430px;
    background: url("/images/ddt/coupons/hongbao.png") center center no-repeat;
    background-size: contain;
    text-align: center;
  }

  .title {
    color: $red;
    padding: 0 20px;
    font-size: 18px;
    line-height: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    height: 180px;
  }

  .description {
    font-size: 15px;
    color: white;
    padding: 10px;
  }
  .sharable-coupon-btn{
    background-color: white;
    color: $red;
  }

  .sharable-coupon-received-btn {
    background-color: $yellow;
    color: white;
  }

  .sharable-coupon-received-btn.disabled {
    color: $gray;
  }

  .sharable-coupon-btn, .sharable-coupon-received-btn {
    display: block;
    width: 80%;
    margin: 10px auto 0 auto;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
  }
}

#sharable-coupon-received-page{
  background-color: $red;
  color: white;
  .weui_cells {
    background-color: $red;
  }
  .sharable-coupon-title {
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
  }
}

