<div id="pay-on-line-new" class="main-view order-checkout-page">
  <div class="weui_cells_title">
    本次消费金额(元)
  </div>
  <div class="weui_cells weui_cells_form">
    <div class="weui_cell" ng-class="{'weui_cell_warn': !amount || amount <= 0}">
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="number" ng-model="amount" pattern="[0-9\.]*" value="weui input error" placeholder="请输入服务员确认的金额">
        </div>
        <div class="weui_cell_ft">
            <i class="weui_icon_warn"></i>
        </div>
    </div>
  </div>

  <div class="weui_cells_title">
      选择支付方式：总计 {{amount|currency:shop.currency}}
    </div>
    <div class="my-items">
      <div class="my-item-group" ng-repeat="item_group in item_groups">
        <div class="my-item opacity" ng-class="{'active': current_pay_method == pay_method}" ng-repeat="pay_method in item_group" ng-click="choose_payment_method(pay_method)">
          <div ng-if="!!pay_method.value">
            <img ng-src="{{pay_method.img}}"/>
            <div class="label">
              {{pay_method.label}}
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="recharge-actions">
    <div class="weui_btn" ng-class="{'bg-red': can_submit(), 'weui_btn_disabled': !can_submit()}" ng-click="submit()">
       立即支付 {{cart.total|currency:shop.currency}}
    </div>
  </div>
</div>
