/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}
#page-wrapper{
  padding-bottom: 200px;
  overflow: auto;
}
.footer{
  position: fixed;
}
.statistic-table{
  width: 100%;
  border: 1px solid #ccc;
  font-size: 11px;

  th{ height: 16px; padding: 3px; border-collapse: 1; border: 1px solid #ccc; text-align: center;}
  td{ height: 16px; padding: 3px; border-collapse: 1; border: 1px solid #ccc;}
  thead{
    background-color: #ffeeff;
  }
  tbody{
    background-color: #ffffff;
  }
  tfoot{
  }
  tr:hover{
    background-color: #eee;
  }
}
