<div id="addresses-new-page" class="main-view">
  <div class="weui_cells">
    <div class="weui_cell">
      <div class="weui_cell_bd weui_cell_primary">
          <p>星级</p>
      </div>
      <div class="weui_cell_ft">
        <div class="comments-level red">
          <span class="fa fa-star rating-star" ng-click="change_rating(1)"></span>
          <span class="fa fa-star rating-star" ng-click="change_rating(2)"></span>
          <span class="fa fa-star rating-star" ng-click="change_rating(3)"></span>
          <span class="fa fa-star rating-star" ng-click="change_rating(4)"></span>
          <span class="fa fa-star rating-star" ng-click="change_rating(5)"></span>    
        </div>
      </div>
    </div>
    <div class="weui_cell">
      <div class="weui_cell_bd weui_cell_primary">
          <textarea class="weui_textarea" placeholder="请输入对该订单的评价" rows="3" ng-model="comment.content"></textarea>
          <div class="weui_textarea_counter"><span>{{comment.content.length}}</span>/200</div>
      </div>
    </div>
  </div>
  <div class="weui_btn_area">
      <a class="weui_btn weui_btn_primary"  ng-click="submit()">提交评论</a>
  </div>
</div>
