<div id="products-page-body">
  <div class="category-list" id="category-list-div">
    <div class="search">
      <a ng-click="go_search_product_with_update()" class="button search-button">
        <i class="fa fa-search"></i>
      </a>
    </div>
    <ul id="categories">
      <li class="item" ng-click="go_combos(branch_id, cart_type)" ng-show="branch.has_combo" >
        <span class="name">套餐</span>
      </li>
      <li class="item" ng-repeat="category in categories" ng-click="change_active_category(category)" ng-class="{'active': category == active_category}">
        <span class="name">{{::category.name}}</span>
        <span class="quantity" ng-if="category.quantity>0">{{category.quantity}}</span>
      </li>
    </ul>
  </div>
  <div id="product-list-div">
    <div class="sub-category" ng-if="active_category.categories">
      <a class="button sub-category-button" ng-class="{active: active_sub_category == null}" ng-click="change_sub_categroy(null)" ng-show="is_show_default_sub_category(active_category)">默认</a>
      <a class="button sub-category-button" ng-class="{active: active_sub_category == sub_category}" ng-repeat="sub_category in active_category.categories" ng-click="change_sub_categroy(sub_category)" >{{::sub_category.name}}</a>
    </div>
    <div id="products">
      <div class="product-item" ng-if="products.length == 0">
        对不起，暂时没有产品
      </div>
      <div ng-repeat="product in products" class="product-item" ng-class="{'in-cart': product.active_variant.quantity>0}">
        <div class="loading-image" rn-lazy-background="{{product.active_variant.image}}" rn-lazy-loading-class="loading-image" rn-lazy-loaded-class="loaded-image"  ng-click="go_show_product_with_update(product)" ng-if="product.active_variant.image"></div>

        <div ng-class="{'no-image': !product.active_variant.image}">
          <div class="name">
            <span ng-click="go_show_product_with_update(product)">{{::product.name}}</span>
            <span class="tag" ng-style="{'background-color': tag_in_branch(tag_id, branch).color}" ng-repeat="tag_id in product.tag_ids">{{tag_in_branch(tag_id, branch).name}}</span>
            <span class="tag label-red" ng-if="product.min_quantity_for_order && product.min_quantity_for_order > 1">{{product.min_quantity_for_order}}{{product.unit_name}}起售</span>
          </div>
          <div class="sales">
            <span class="stock_count" ng-show="branch.check_stock && branch.show_stock_quantity">库存{{stock_of(product.active_variant)}},</span>
            <span class="sales-count" ng-show="branch.show_sale_quantity">销量{{product.total_sale_quantity}}</span>
            <!-- <span class="favorite-count">{{product.active_variant.favorite_count}}人赞</span> -->
          </div>
          <div class="price-section">
            <div class="cart-op">
              <div ng-hide="product.show_note_in_weixin">
                <span class="button minus-button active" ng-show="can_minus(product.active_variant)" ng-click="remove_itemable(product.active_variant);"><i class="fa fa-minus"></i></span>
                <span class="quantity-button" ng-show="product.active_variant.quantity>0">{{product.active_variant.quantity}}</span>
                <span class="button plus-button" ng-class="{'active': can_plus(product.active_variant)}" ng-click="add_itemable_with_note(product.active_variant);"><i class="fa fa-plus"></i></span>
              </div>
              <div ng-show="product.show_note_in_weixin">
                <span class="button plus-button"
                      ng-click="add_itemable_with_note(product.active_variant)"
                      ng-class="{'active': can_plus(product.active_variant)}">
                  <i class="fa fa-plus"></i>
                </span>
              </div>
            </div>
            <span class="price">{{product.active_variant.price|currency:currency}}</span>
            <span ng-show="product.unit_name">/{{product.unit_name}}</span>
            <span class="original-price" ng-if="product.active_variant.original_price != product.active_variant.price">{{product.active_variant.original_price|currency: currency}}</span>
            <span class="original-price" ng-if="product.active_variant.vip_price && product.active_variant.price != product.active_variant.vip_price">会员价{{product.active_variant.vip_price|currency: currency}}</span>
          </div>
          <div class="variant-options" ng-if="product.variants.length > 1">
            <div class="variant-option button" ng-repeat="variant in product.variants" ng-hide="variant.estimate_clear || variant.is_master" ng-class="{'active': variant == product.active_variant}" ng-click="active_variant(product, variant)">
              {{::variant.options_text}}
                <span class="quantity" ng-show="variant.quantity">{{variant.quantity}}</span>
            </div>
          </div>
          <div class="line-item"
               ng-if="product.show_note_in_weixin"
               ng-repeat="line_item in product.active_variant.line_items"
               >
            <div class="cart-op">
              <span class="button minus-button active" ng-show="can_minus(product.active_variant)" ng-click="remove_itemable(line_item, snap);"><i class="fa fa-minus"></i></span>
              <span class="quantity-button">{{line_item.quantity}}</span>
              <span class="button plus-button" ng-class="{'active': can_plus(product.active_variant)}" ng-click="add_itemable(line_item, snap);"><i class="fa fa-plus"></i></span>
            </div>
            <div class="name" ng-show="line_item.note == ''">{{::line_item.name}}</div>
            <div class="name" ng-hide="line_item.note == ''">{{::line_item.note}}</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
