<div id="product-show-page" class="main-view">
  <ng-swiper-slider sliders="product.rect_images" ng-click="click_slider"></ng-swiper-slider>

  <div class="weui_cells">
      <div class="weui_cell">
          <div class="weui_cell_bd weui_cell_primary">
              <p>{{product.name}}</p>
          </div>
      </div>
      <div class="weui_cell" ng-if="product.variants.length == 1">
          <div class="weui_cell_bd weui_cell_primary">
              <p>价格</p>
          </div>
          <div class="weui_cell_ft">
              <p>
                <span class="price">{{master_variant.price | currency: currency}}</span>
                <span class="original-price" ng-if="master_variant.original_price != master_variant.price">{{master_variant.original_price|currency: currency}}</span>
                <span>/{{product.unit_name}}</span>
              </p>
          </div>
          <div class="weui_cell_ft">
            <span class="button minus-button active" ng-if="master_variant.quantity > 0" ng-click="remove_itemable(master_variant, false);"><i class="fa fa-minus"></i></span>
            <span class="quantity-button" ng-show="master_variant.quantity > 0">{{master_variant.quantity}}</span>
            <span class="button plus-button" ng-class="{'active': master_variant.quantity>0}" ng-click="add_itemable(master_variant, false);" ng-if="master_variant.quantity > 0"><i class="fa fa-plus"></i></span>
            <span class="button no-quantity red" ng-if="master_variant.quantity<=0" ng-click="add_itemable_with_note(master_variant);"> 加入购物车
            </span>
          </div>
      </div>
  </div>

  <div class="weui_cells_title" ng-if="product.variants.length > 1">规格型号</div>
  <div class="weui_cells" ng-if="product.variants.length > 1">
      <div class="weui_cell" ng-repeat="variant in product.variants" ng-if='!variant.is_master'>
          <div class="weui_cell_bd weui_cell_primary">
            <p>{{variant.options_text}}</p>
          </div>
          <div class="weui_cell_ft">
            <span class="price">{{variant.price | currency: currency}}</span>
            <span class="original-price" ng-if="variant.original_price != variant.price">{{variant.original_price|currency: currency}}</span>
            <span>/{{product.unit_name}}</span>
          </div>
          <div class="weui_cell_ft">
            <span class="button minus-button active" ng-show="variant.quantity > 0" ng-click="remove_itemable(variant, false);"><i class="fa fa-minus"></i></span>
            <span class="quantity-button" ng-show="variant.quantity>0">{{variant.quantity}}</span>
            <span class="button plus-button" ng-class="{'active': variant.quantity>0}" ng-click="add_itemable_with_note(variant);"><i class="fa fa-plus"></i></span>
          </div>
      </div>
  </div>

  <div class="padding" ng-bind-html="product.description | unsafe" id="product-detail-description">
  </div>

</div>