#article-show {
  padding: 10px;
  img {
    max-width: 100%;
  }
  .title {
    padding: 5px 0;
    line-height: 30px;
    font-size: 18px;
    color: $dark;
  }

  .intro {
    font-size: 14px;
    line-height: 30px;
  }

  .image {
    img {
      display: block;
    }
  }

  .detail {
    padding: 5px 0;
    font-size: 14px;
    color: $dark;
  }
}