#promotion-show-page {
  .promotion-name {
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 1.5em;
    color: $dark; 
  }  
}


#promotion-index-page {
  padding: 8px;
  .promotion-item {
    padding: 8px;
    img {
      width: 100%;
      display: block;
    }
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid $light-gray;
    border-radius: 4px;
    .title {
      padding-top: 5px;
      line-height: 1.5em;
      font-size: 15px;
    }
    .keywords {
      font-size: 13px;
      line-height :25px;
    }
  }
}